{% extends 'FiveSeoBundle::base.html.twig' %}
{% use 'form_div_layout.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
    {# {{ block('base_form_label') }} #}
{% endblock %}

{% block base_form_label %}

{% endblock %}

{% block form_row -%}
        {{- form_errors(form) -}}

        {% if form is not iterable %}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
        {% endif %}

        {% if form.parent.vars.name is defined and form.parent.vars.name == 'five_seo' %}
            {% if form.name is defined %}                
                {{- form_widget(form.name,{ attr : { class : 'form-control' } } ) -}}
            {% elseif form.content is defined %}
                {{- form_label(form.content) -}}
                {{- form_widget(form.content,{ attr : { class : 'form-control' } } ) -}}            
            {% else %}
            {{- form_label(form) -}}
            {{- form_widget(form,{ attr : { class : 'form-control' } } ) -}}            
            {% endif %}
        {% else %}
            {{- form_label(form) -}}
            {{- form_widget(form,{ attr : { class : 'form-control' } } ) -}}
        {% endif %}
{%- endblock form_row %}
{% block body %}
{# {% spaceless %} #}
<div id="fiveSeoEditModal" class="modal fade five_edit_bar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="z-index:99999999;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


    {{ form_start(form, { attr : { id : 'fiveSeoEditForm', 'style' : 'padding:25px;' } }) }}

        <div class="row">
            <div class="col-md-12">
                <h3>Edit Seo <small>for this page</small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">Page Title</label>
                    {{ form_widget( form.title, { attr : { class : 'form-control text-input' } } ) }}
                    {{ form_widget( form.route ) }}
                    {{ form_widget( form.url ) }}
                    {{ form_widget( form.locale ) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                        <label class="control-label" for="">Meta Description</label>
                        {% for child in form.metasName %}            
                            {% if child.name.vars.value == 'description' %}
                                {{ form_widget( child.name ) }}
                                {{ form_widget( child.content, { attr : { class : 'form-control text-input', 'style' : 'min-height:100px;' } } ) }}
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label class="control-label" for="">Meta Keywords</label>
                        {% for child in form.metasName %}            
                            {% if child.name.vars.value == 'keywords' %}
                                {{ form_widget( child.name ) }}
                                {{ form_widget( child.content, { attr : { class : 'form-control text-input', 'style' : 'min-height:100px;' } } ) }}
                            {% endif %}
                        {% endfor %}
                </div>
            </div>            
        </div>        
        <div class="clear clearfix">
            {{ form_row( form.submit, { attr : { class : 'pull-left btn btn-success', 'data-loading-text' : "Updating...", 'data-complete-text' : 'Updated!' } } ) }}
            {{ form_row( form.close, { attr : { class : 'pull-left btn btn-default', style : 'margin-left:20px;' } } ) }}
        </div>
    {{ form_end(form) }}


    </div>
  </div>
</div>
{# {% endspaceless %} #}
<script>
    $( document ).ready( function()
    {
        var iconReset   = '<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;';
        var iconUpdated = '<i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;';
        $( '#five_seo_submit' ).prepend( iconReset );

        $( '#fiveSeoEditForm' ).on( 'submit', function( evt )
        {
            evt.preventDefault();
            var btn = $( '#fiveSeoEditForm' ).find( '#five_seo_submit' );
            btn.button( 'loading' );

                    $.ajax( {
                        type: "POST",
                        url: $( '#fiveSeoEditForm' ).attr( 'action' ) ,
                        data: $( '#fiveSeoEditForm' ).serialize(),
                        error: function( result, txt )
                        {            

                        },
                        success: function( result ){
                            
                            //console.log( result );
                            btn.button( 'complete' );
                            btn.prepend( iconUpdated );
                            window.setTimeout( function(){
                                $( '#five_seo_submit' ).button( 'reset' );
                                //.append( iconReset );
                            }, 5000 );
                        
                        },   
                        dataType: 'json'
                    } );            
        } );
    } );
</script>
{% endblock %}
