{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Seo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Route</th>
                <th>Url</th>
                <th>Locale</th>
                <th>Title</th>
                <th>Metasname</th>
                <th>Metasproperty</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('seo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.route }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.locale }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.metasName }}</td>
                <td>{{ entity.metasProperty }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.enabled }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('seo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('seo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('seo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
