{% macro link( label, route, params, btnClass, iconClass ) %}

    <a href="{{ path( route, params|default( {} ) ) }}">
        <button class="{{ btnClass|default( 'btn btn-info' ) }}">
            <i class="{{ iconClass|default( 'fa fa-plus-circle' ) }}"></i> {{ label|default( '' ) }}
        </button>
    </a>

{% endmacro %}

{% macro create( label, route, params, btnClass, iconClass ) %}

    <a href="{{ path( route, params|default( {} ) ) }}">
        <button class="{{ btnClass|default( 'btn btn-info' ) }}">
            <i class="{{ iconClass|default( 'fa fa-plus-circle' ) }}"></i> {{ label|default( 'Create new' ) }}
        </button>
    </a>

{% endmacro %}

{% macro edit( label, route, params, btnClass, iconClass ) %}

    <a href="{{ path( route, params|default( {} ) ) }}">
        <button class="{{ btnClass|default( 'btn btn-info btn-sm' ) }}">
            <i class="{{ iconClass|default( 'fa fa-edit' ) }}"></i> {{ label|default( 'Edit' ) }}
        </button>
    </a>

{% endmacro %}

{% macro delete( label, route, params, btnClass, iconClass ) %}

    <a href="{{ path( route, params|default( {} ) ) }}">
        <button 
            class       = "{{ btnClass|default( 'btn btn-danger btn-sm' ) }}" 
            data-toggle = "modal" 
            data-target = "#myModal"
            href        = "{{ path( actions.path, { id : entity.id } ) }}"
        >
            <i class="{{ iconClass|default( 'fa fa-trash-o' ) }}"></i> {{ label|default( 'Delete' ) }}
        </button>
    </a>

{% endmacro %}


{% macro default( label, btnClass, iconClass ) %}

        <button class="{{ btnClass|default( 'btn btn-info' ) }}">
            <i class="{{ iconClass|default( 'fa fa-plus-circle' ) }}"></i> {{ label|default( '' ) }}
        </button>

{% endmacro %}