{% extends 'FiveAdminBundle::layout.html.twig' %}

{% block page_head_title %}Dashboard{% endblock %}
{% block page_head_icon %}<i class="glyphicon glyphicon-th"></i>{% endblock %}
{% block page_head_subtitle %}{% endblock %}

{% block content %}
<div class="row top-summary">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget green-1 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="icon-globe-inv"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">TOTAL <b>COUNTRIES</b></p>
                                    <h2><span class="animate-number" data-value="{{ countriesCnt }}" data-duration="3000">{{ countriesCnt }}</span></h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {# <i class="fa fa-caret-up rel-change"></i> <b>39%</b> increase in traffic #}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

<!--                     <div class="col-lg-3 col-md-6">
                        <div class="widget darkblue-2 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="icon-bag"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">TOTAL <b>PROGRAMS</b></p>
                                    <h2><span class="animate-number" data-value="{{ programsCnt }}" data-duration="3000">{{ programsCnt }}</span></h2>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {# <i class="fa fa-caret-down rel-change"></i> <b>11%</b> decrease in sales #}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-3 col-md-6">
                        <div class="widget pink-1 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">TOTAL <b>CONTACT US REQUEST</b></p>
                                    <h2><span class="animate-number" data-value="{{ contactsCnt }}" data-duration="3000">{{ contactsCnt }}</span></h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {# <i class="fa fa-caret-down rel-change"></i> <b>7%</b> decrease in income #}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

{#                     <div class="col-lg-3 col-md-6">
                        <div class="widget lightblue-1 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">TOTAL <b>USERS</b></p>
                                    <h2><span class="animate-number" data-value="18648" data-duration="3000">18,648</span></h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <i class="fa fa-caret-up rel-change"></i> <b>6%</b> increase in users
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> #}

                </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="{{ asset( theme_path ~ 'assets/libs/d3/d3.v3.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/rickshaw/rickshaw.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/raphael/raphael-min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/morrischart/morris.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-knob/jquery.knob.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clock/clock.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-easypiechart/jquery.easypiechart.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-calendar/js/bic_calendar.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/apps/calculator.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/apps/todo.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/pages/index.js' ) }}"></script>

{% endblock %}