

{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}

{% block body %}

	<section id="home-blog" class="home-blog">
        <div class="container">
            <div class="row">
                
                    <div class="col-md-12">
                        <a href="{{ path( 'header.menu.blog_link' | trans ) }}" class="blog-home-header"> 
                            <h3 class="blog_title">{{ 'blog.blog_title' | trans({}, 'blog') | raw }}</h3> 
                            <small class="blog_subtitlte">{{ 'blog.blog_recent' | trans({}, 'blog') | raw }}</small>
                        </a>
                    </div>
               
            </div>
        </div>
        <div class="blog-list">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-md-6">
                    
                    {% if blog.isImageExist(blog.image) == true %}          
                    <div class="blog-item">
                        {#<a href="{{ path( 'header.menu.blog_article_home_link' | trans  , { 'permalink': blog.getPermaLink()  }) }}">#}
                        <a href="{{ path( 'header.menu.blog_article_link' | trans  ,  { 'permalink': blog.getPermaLink()  } ) }}">                
                            <img src="{{ asset([ blog.getImageURL(blog.image)  ] |join) }}" width="400"  />
                            <div class="overlay">
                                <span>
                                    {{ blog.title(50) }}                        
                                </span>
                            </div>
                        </a>  
                    </div>
                    {% else %}
                        <div class="blog-item no-prev">
                            {#<a href="{{ path( 'header.menu.blog_article_home_link' | trans  , { 'permalink': blog.getPermaLink()  }) }}">	#}
                            <a href="{{ path( 'header.menu.blog_article_link' | trans  ,  { 'permalink': blog.getPermaLink()  } ) }}" >            
                            <div class="overlay">
                                <span>
                                    {{ blog.title(50) }}                        
                                </span>
                            </div>
                        </a> 
                        </div>
                    {% endif %}
                </div>      
   
                {% else %}

                     <p>{{ 'blog.blog_no_blog' | trans({}, 'blog') | raw }}</p>

                {% endfor %}
                </div>
            </div> 
	</section>    
    
{% endblock %}
