{% set page = 'Carrousels' %}
{% extends 'FiveCuisinesVerdunBundle::base_admin.html.twig' %}

{% block content %}
    <style>
        .imgs { list-style-type: none; margin: 0; padding: 0; }
        .imgs li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
        .imgs li span { position: absolute; margin-left: -1.3em; }
    </style>

    <h1>Carrousels</h1>
    <h2>Cuisine</h2>
    <h3>Styles</h3>
    <div class="container" id="kitchen-styles">
        <input id="kitchen-add-style-fr" type="text" value="Nom en français"> <input id="kitchen-add-style-en" type="text" value="Nom en anglais"> <button id="kitchen-add-style-button">Ajouter un style</button>
        <br>
        <textarea id="kitchen-desc-style-fr">Description en français</textarea>
        <textarea id="kitchen-desc-style-en">Description en anglais</textarea>
        {% for style in kitchenStyles %}
        <div class="container" id="{{ style.id }}">
            <h4>{{ style.fr }} <small>{{ style.en }}</small> <a class="delete">x</a></h4>
            <input type="file" class="kitchen-upload-style-img">
            <textarea class="kitchen-upload-style-fr">Texte en français</textarea>
            <textarea class="kitchen-upload-style-en">Texte en anglais</textarea>
            <button class="upload-button">Téléverser</button>
            <div class="container">
                <ul class="imgs">
                {% if stylesImages[style.id] is defined %}
                {% for img in stylesImages[style.id] %}
                    <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                        <a class="delete-img">x</a>
                        <img src="/uploads/{{ img.url }}"/>
                        <textarea class="fr">{{ img.fr }}</textarea>
                        <textarea class="en">{{ img.en }}</textarea>
                        <button class="update-img">Modifier</button>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Matériaux</h3>
    <div class="container" id="kitchen-materials">
        <input id="kitchen-add-material-fr" type="text" value="Nom en français"> <input id="kitchen-add-material-en" type="text" value="Nom en anglais"> <button id="kitchen-add-material-button">Ajouter un matérial</button>
        <br>
        <textarea id="kitchen-desc-material-fr">Description en français</textarea>
        <textarea id="kitchen-desc-material-en">Description en anglais</textarea>
        {% for material in kitchenMaterials %}
        <div class="container" id="{{ material.id }}">
            <h4>{{ material.fr }} <small>{{ material.en }}</small> <a class="delete">x</a></h4>
            <input type="file" class="kitchen-upload-material-img">
            <textarea class="kitchen-upload-material-fr">Texte en français</textarea>
            <textarea class="kitchen-upload-material-en">Texte en anglais</textarea>
            <button class="upload-button">Téléverser</button>
            <div class="container">
                <ul class="imgs">
                {% if materialsImages[material.id] is defined %}
                {% for img in materialsImages[material.id] %}
                    <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                        <a class="delete-img">x</a>
                        <img src="/uploads/{{ img.url }}"/>
                        <textarea class="fr">{{ img.fr }}</textarea>
                        <textarea class="en">{{ img.en }}</textarea>
                        <button class="update-img">Modifier</button>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Salle de bain</h2>
    <h3>Styles</h3>
    <div class="container" id="bathroom-styles">
        <input id="bathroom-add-style-fr" type="text" value="Nom en français"> <input id="bathroom-add-style-en" type="text" value="Nom en anglais"> <button id="bathroom-add-style-button">Ajouter un style</button>
        <br>
        <textarea id="bathroom-desc-style-fr">Description en français</textarea>
        <textarea id="bathroom-desc-style-en">Description en anglais</textarea>
        {% for style in bathroomStyles %}
        <div class="container" id="{{ style.id }}">
            <h4>{{ style.fr }} <small>{{ style.en }}</small> <a class="delete">x</a></h4>
            <input type="file" class="bathroom-upload-style-img">
            <textarea class="bathroom-upload-style-fr">Texte en français</textarea>
            <textarea class="bathroom-upload-style-en">Texte en anglais</textarea>
            <button class="upload-button">Téléverser</button>
            <div class="container">
                <ul class="imgs">
                {% if stylesImages[style.id] is defined %}
                {% for img in stylesImages[style.id] %}
                    <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                        <a class="delete-img">x</a>
                        <img src="/uploads/{{ img.url }}"/>
                        <textarea class="fr">{{ img.fr }}</textarea>
                        <textarea class="en">{{ img.en }}</textarea>
                        <button class="update-img">Modifier</button>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Matériaux</h3>
    <div class="container" id="bathroom-materials">
        <input id="bathroom-add-material-fr" type="text" value="Nom en français"> <input id="bathroom-add-material-en" type="text" value="Nom en anglais"> <button id="bathroom-add-material-button">Ajouter un matérial</button>
        <br>
        <textarea id="bathroom-desc-material-fr">Description en français</textarea>
        <textarea id="bathroom-desc-material-en">Description en anglais</textarea>
        {% for material in bathroomMaterials %}
        <div class="container" id="{{ material.id }}">
            <h4>{{ material.fr }} <small>{{ material.en }}</small> <a class="delete">x</a></h4>
            <input type="file" class="bathroom-upload-material-img">
            <textarea class="bathroom-upload-material-fr">Texte en français</textarea>
            <textarea class="bathroom-upload-material-en">Texte en anglais</textarea>
            <button class="upload-button">Téléverser</button>
            <div class="container">
                <ul class="imgs">
                {% if materialsImages[material.id] is defined %}
                {% for img in materialsImages[material.id] %}
                    <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                        <a class="delete-img">x</a>
                        <img src="/uploads/{{ img.url }}"/>
                        <textarea class="fr">{{ img.fr }}</textarea>
                        <textarea class="en">{{ img.en }}</textarea>
                        <button class="update-img">Modifier</button>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascript %}
<script>
 function updateSort() {
    $(".imgs").sortable({
     update: function( event, ui ) {
         $.ajax({
             type: "POST",
             url: "/admin/api",
             data: { method: 'update-order', type: 'type', category: 'category', ids: $( this ).sortable( "toArray" ) }
         }).done( function(msg) {
         });
     }
 })};
$(document).ready( function() {
    $('textarea,input[type="text"]').on('click', function( ) {
        var val = $(this).val();
        if (val == "Texte en français" || val == "Texte en anglais" || val == "Nom en anglais" || val == "Nom en français") {
            $(this).val("");
        }
    });

    $(".update-img").on("click", function() {
        console.log(this);
       $.post('/admin/api', { method: 'update-img', id: $(this).data('id').substring(3), fr: $(this).parent().children(".fr").first().val(), en: $(this).parent().children(".en").first().val() },
           function( ) {
            alert("Les modificiations ont été sauvegardées.");
           });

    });
    updateSort();
     var testSort = $('.imgs li').sort(function (a, b) {
       var contentA = parseInt( $(a).attr('data-sort'));
       var contentB = parseInt( $(b).attr('data-sort'));
       return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
     })
     //.appendTo($(this).parent);
        console.log( 'testSort', testSort );
     $( ".imgs" ).disableSelection();

    /*************************
     ** STYLES              **
     *************************/

    $("#kitchen-add-style-button").on("click", function() {
       $.post('/admin/api', { method: 'add-style', type: 'kitchen', fr: $('#kitchen-add-style-fr').val(), en: $('#kitchen-add-style-en').val(), frDesc: $('#kitchen-desc-style-fr').val(), enDesc: $('#kitchen-desc-style-en').val() },
            function(r) {
               $('#kitchen-styles').append('<div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="kitchen-upload-style-img"><textarea class="kitchen-upload-style-fr">Texte en français</textarea><textarea class="kitchen-upload-style-en">Texte en anglais</textarea><button class="kitchen-upload-style-button">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div>');
            }
        );
    });

    $("#bathroom-add-style-button").on("click", function() {
       $.post('/admin/api', { method: 'add-style', type: 'bathroom', fr: $('#bathroom-add-style-fr').val(), en: $('#bathroom-add-style-en').val(), frDesc: $('#bathroom-desc-style-fr').val(), enDesc: $('#bathroom-desc-style-en').val() },
            function(r) {
	      console.log(r);
               $('#bathroom-styles').append('<div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="bathroom-upload-style-img"><textarea class="bathroom-upload-style-fr">Texte en français</textarea><textarea class="bathroom-upload-style-en">Texte en anglais</textarea><button class="bathroom-upload-style-button">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div>');
            }
        );
    });

    /*************************
     ** MATERIALS           **
     *************************/

    $("#kitchen-add-material-button").on("click", function() {
       $.post('/admin/api', { method: 'add-material', type: 'kitchen', fr: $('#kitchen-add-material-fr').val(), en: $('#kitchen-add-material-en').val(), frDesc: $('#kitchen-desc-material-fr').val(), enDesc: $('#kitchen-desc-material-en').val() },
            function(r) {
               $('#kitchen-materials').append('<div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="kitchen-upload-material-img"><textarea class="kitchen-upload-material-fr">Texte en français</textarea><textarea class="kitchen-upload-material-en">Texte en anglais</textarea><button class="kitchen-upload-material-button">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div>');
            }
        );
    });

    $("#bathroom-add-material-button").on("click", function() {
       $.post('/admin/api', { method: 'add-material', type: 'bathroom', fr: $('#bathroom-add-material-fr').val(), en: $('#bathroom-add-material-en').val(), frDesc: $('#bathroom-desc-material-fr').val(), enDesc: $('#bathroom-desc-material-en').val() },
            function(r) {
                console.log(r);
               $('#bathroom-materials').append('<div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="bathroom-upload-material-img"><textarea class="bathroom-upload-material-fr">Texte en français</textarea><textarea class="bathroom-upload-material-en">Texte en anglais</textarea><button class="bathroom-upload-material-button">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div>');
            }
        );
    });

    $(".delete").on("click", function() {
       $.post('/admin/api', { method: 'delete', id: $(this).data('id') },
            function(r) {
                console.log(r);
                $("#"+r.id).hide();
            }
        );
    });

    $(".delete-img").on("click", function() {
       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id') },
            function(r) {
                console.log(r);
                $("#"+r.id).hide();
            }
        );
    });

    var files;
    $('input[type=file]').on('change', prepareUpload);
    function prepareUpload(event) {
        files = event.target.files;
    }

    $("#kitchen-styles .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        //console.log(imgData);

        button = this;
        frText = $(button).parent().children('.kitchen-upload-style-fr').first().val();
        enText = $(button).parent().children('.kitchen-upload-style-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'style',
                    category: $(button).parent().attr('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    console.log( 'Upload Kitchen', s )
                    $(button).parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="kitchen-update-style-button">Modifier</button></li>');
                    updateSort();
                }
            );
        }
        });

    });

    $("#kitchen-materials .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.kitchen-upload-material-fr').first().val();
        enText = $(button).parent().children('.kitchen-upload-material-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'material',
                    category: $(button).parent().attr('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    var res = $(button).parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="kitchen-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    console.log( res, s )
                    updateSort();
                }
            );
        }
        });

    });

    $("#bathroom-styles .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.bathroom-upload-style-fr').first().val();
        enText = $(button).parent().children('.bathroom-upload-style-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'style',
                    category: $(button).parent().attr('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    $(button).parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-style-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();
                }
            );
        }
        });

    });

    $("#bathroom-materials .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.bathroom-upload-material-fr').first().val();
        enText = $(button).parent().children('.bathroom-upload-material-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'material',
                    category: $(button).parent().attr('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    $(button).parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();
                }
            );
        }
        });

    });

    $(".delete-img").on("click", function() {
       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
       function( ) {
            $(this).parent().hide();
       });

    });


});
</script>
<style>
.imgs {
    padding-left: 50px;
}
.imgs img {
    width: 150px;
}
.delete,.delete-img {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
</style>
{% endblock %}
