{% macro editBox( name, value, type, size) %}
    {% set type = type in [ 'info', 'warning', 'success', 'dander' ] ? type : 'info' %}

    <div class="box box-{{ type }}">
        <div class="box-header">
            <h3 class="box-title">{{ title }}</h3>
        </div>
        <div class="box-body">

    {# <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" /> #}
{% endmacro %}

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">{{ options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</h3>
        </div>
        <div class="box-body">
            {# <div class="container"> #}
            {{ form_errors(form) }}
            {{ form_start( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}
                {% set cols = 12 %}
                {% set rowElements = ( 12 / cols ) %}
                {% set colClass = 'col-md-' ~ cols %}
                {% set rowCnt = 0 %}
                <div class="costs" data-prototype="{{ form_widget(form.costs.vars.prototype)|e }}">
                    {% for cost in form.costs %}
{#                         {% if rowCnt == 0 %}
                            <div class="row clearfix">
                        {% endif %} #}
                            <div class="row">
                                <div class="{{ colClass }}">
                                    <div class="input-group">
                                        {{ form_row(cost.cost) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">                                
                                <div class="{{ colClass }}">
                                    <div class="form-group">
                                        
                                            {{ form_row(cost.description) }}

                                    </div>
                                </div>
                            </div>
                        {# {% if rowCnt == 2 %} #}
{#                         {% if rowCnt == 0 %}
                            </div>                            
                            {% set rowCnt = 0 %}
                        {% else %} #}
                            {# {% set rowCnt = rowCnt + 1 %} #}
                        {# {% endif %} #}


                    {% endfor %}            
                </div>
                

                {% include 'FiveAdminBundle:Form:collectionArray.html.twig' with { 
                    class        : 'procedures',
                    colClass     : colClass,
                    entities     : form.procedures,
                    form         : form,
                    boxPrototype : form.procedures.vars.prototype
                } %}
{#                 <div class="procedures" data-prototype="{{ form_widget(form.procedures.vars.prototype)|e }}">
                    {% for procedure in form.procedures %}
                            <div class="row">
                                <div class="{{ colClass }}">
                                    <div class="input-group">
                                        {{ form_row(procedure) }}
                                    </div>
                                </div>
                            </div>
                    {% endfor %}            
                </div>   #}              
    
                {{ form_rest(form) }}
{#                 <ul class="procedures" data-prototype="{{ form_widget(form.procedures.vars.prototype)|e }}">
                    {% for procedure in form.procedures %}
                        <li>{{ form_row(procedure) }}</li>
                    {% endfor %}            
                </ul>  #}       
            {{ form_end(form) }}
    
            {# </div> #}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->