{% extends 'FiveAdminBundle::layout.html.twig' %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}
{% form_theme form with [ 'FiveAdminBundle:Form:form_fields.html.twig' ] %}

{% block page_head_title %}{{ entity.translate('en').getName()|default(options.page.title) }}{% endblock %}
{% block page_head_icon %}<i class="{{ options.page.icon|default( 'glyphicon glyphicon-list-alt' ) }}"></i>{% endblock %}
{% block page_head_subtitle %}<h3>{{ entity.id is not empty ? options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</h3>{% endblock %}

{% block content %}

{#                 <div class="row">
                    <div class="col-md-12 portlets">
                        <!-- Your awesome content goes here -->
                        <div class="widget">
                            <form action="{{ path( 'five_admin_upload_pictures' ) }}" method="post" class="dropzone" id="dropzone">
                              <div class="fallback">
                                <input name="file" type="file" multiple />
                              </div>
                            </form>

                        </div>
                    </div>
                </div> #}    


{# <div class="row">
    <div class="col-xs-12">
        <div class="box">
   
            <div class="box-body table-responsive"> #}

    {# <h2>{{ options.page.title | default( '' ) }}{{ entity.id | default( '' ) }} - {{ entity.getName() }}</h2> #}

    {{ form_errors(form) }}
    {{ form_start( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}
    
    {{ block( 'ButtonAction' ) }}
    {% set attrClass = { attr: { class: "form-control" } } %}
    <div class="row">
        <div class="col-md-12">
            {% set generalTab %}
                {# <h4 class="page-header">Country International code</h4>                 #}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                {# <h2>col-sm-12</h2> #}
                                <div class="row">                    
                                    <div class="col-md-6">
                                        <div class="row">                    
                                            <div class="col-md-6">{{ form_row(form.code, attrClass ) }}</div>
                                            <div class="col-md-6">{{ form_row(form.codeAlias, attrClass ) }}</div>
                                        </div>                                           
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row( form.enabled, attrClass ) }} 
                                    </div>                                    
{#                                  
                                    <div class="col-md-6">{{ form_row(form.code ) }}</div>
                                    <div class="col-md-6">{{ form_row(form.codeAlias ) }}</div> #}
                                </div>
                                <div class="row">                    
                                    <div class="col-md-6">{{ form_row(form.residencyAllowed ) }}</div>
                                    <div class="col-md-6">{{ form_row(form.citizenshipAllowed ) }}</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                {# <h2>col-sm-12</h2> #}
                                <div class="row">                    
                                    <div class="col-md-12">{{ FiveForm.localesTab( form.translations, ['name', 'description', 'familyText', 'economicText', 'contactText'] ) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                
            {% endset %}

            
            {% set keyFactsTab %} 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <h3>Country Facts</h3>
                                <hr />
                                <div class="row">                    
                                    <div class="col-md-12">{{ FiveForm.localesTab( form.translations, [ 'keyFacts' ], { cols : 2 } )  }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                
            {% endset %}
            
            {% set markers %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <h3>Geo Localisation</h3>
                                <hr />
                                <div class="row">                    
                                    <div class="col-md-6">{{ form_row(form.marker.longitude ) }}</div>
                                    <div class="col-md-6">{{ form_row(form.marker.latitude ) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            {% endset %}

            {% set imagesGallery %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <h3>Country Map & Discover Images</h3>
                                <hr />
                               <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                {{ form_label(form.mapPicture ) }}
                                                {{ form_row(form.mapPicture.file, { attr : { class : 'btn btn-primary' } } ) }}
                                            </div>
                                            {% if form.mapPicture.name.vars.value is not empty %}
                                            <div class="col-md-12">
                                                <img src="/uploads/media/{{ form.mapPicture.name.vars.value }}" class="img-responsive" width="200" />
                                            </div>                                    
                                                
                                            {% endif %}                                    

                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                {{ form_label(form.discoverPicture ) }}
                                                {{ form_row(form.discoverPicture.file, { attr : { class : 'btn btn-primary' } } ) }}                                        
                                            </div>

                                            {% if form.discoverPicture.name.vars.value is not empty %}

                                            <div class="col-md-12">
                                                <img src="/uploads/media/{{ form.discoverPicture.name.vars.value }}" class="img-responsive" width="200" />
                                            </div>                                    
                                                
                                            {% endif %}                                    
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <h3>Picture Gallery</h3>
                                <hr />
                               <div class="row">
                                    <div class="col-md-12 ">
                                        <a class="btn btn-success add-images">+ Add images</a>
                                        <a class="btn btn-info upload-images">Upload</a>
                                        <div id="uploadzone" class="" style="width:100%;min-height:50px;"></div>
                                        <div id="upload_preview"></div>

                                        {# {{ FiveForm.dropzoneUploadWidget() }} #}


                                    </div>
                               </div>
{#                                 <div class="row">                    
                                    <div class="col-md-12">{{ form_row( form.imgDirectory ) }}</div>
                                </div> #}
                                <div class="row">                    
                                    <div class="col-md-12"><div class="divider"></div></div>
                                </div>                                
                              
                                <div class="row">                    
                                    <div class="col-md-12">
                                        {{ form_row( form.gallery ) }}
                                        {# {{ FiveForm.galleryImagesWidget( form.gallery ) }} #}
                                    </div>
                                </div>
                                <div class="row">                    
                                    <div class="col-md-12"><hr /></div>
                                </div>                                                                
                                <div class="row">                    
{#                                     {% for key,val in form.mapPicture.name.vars %}
                                        {{key}} <br/>
                                    {% endfor %} #}

                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>

                                       
            {% endset %}    

            {% set tabs = { 'General' : generalTab, 'Country Facts' : keyFactsTab, 'Gallery & Images' : imagesGallery, 'Geo Localisation' : markers } %}          
            {{ FiveForm.tabsWidget( tabs ) }}
        </div> 

    </div>

    {{ form_end( form ) }}

{#     </div>
</div>     #}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>    
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select/bootstrap-select.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-inputmask/inputmask.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/jquery.mockjax.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/demo-mock.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select2/select2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clndr/moment-2.5.1.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/ckeditor.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/adapters/jquery.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/pages/advanced-forms.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/dropzone/dropzone.min.js' ) }}"></script>


    <script>
    var config = {};
    var uploadedImages = [];
    var uploadConfig = {
        url: "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        clickable: 'a.add-images',
        previewTemplate: '<div style="display:none"></div>',
        autoQueue: false,
        success : function(evt, resp)
        {
            //console.log( evt, 'hereeeee!', resp );
            uploadedImages.push( { picture: resp.picture, element: null } );
        }

    };


        $( document ).ready( function()
        {
//config.extraAllowedContent = 'span[class] h1 h2 h3';
            //$("#dropzone").dropzone();
            config.allowedContent = true;
            config.extraPlugins = 'autogrow';
            config.autoGrow_onStartup = true;
            config.autoGrow_minHeight = 75;
            config.toolbarCanCollapse = true;
            config.toolbar = [
                [ 'Source', '-', 'Link','Unlink', 'Anchor', '-','JustifyLeft', 'JustifyCenter', 'JustifyRight', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]
            ];            
            $( '.editor-basic' ).ckeditor(config);
var dropzoneMain = new Dropzone(document.querySelector( '#uploadzone' ),uploadConfig);
/*dropzoneMain.on("addedfile", function(file) {
  // Hookup the start button
  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
});*/
$( '[data-collection="five_country_gallery"]' ).css('visibility', 'hidden');
document.querySelector(".upload-images").onclick = function() {
    uploadedImages = [];
  dropzoneMain.enqueueFiles(dropzoneMain.getFilesWithStatus(Dropzone.ADDED));
};

function addUploadedImages( obj )
{
        
            //_.delay( function(){$( '[data-collection="five_country_gallery"]' ).trigger('click')}, 100 );
/*_.delay( function()
                {*/

                    $( '#five_country_gallery li:eq('+obj.element+')' ).find( '.gallery_name:first' ).parent().append( '<img src="/uploads/media/' + obj.picture + '" class="img-responsive" width="80" />' );

                    $( '#five_country_gallery li:eq('+obj.element+')' ).find( '.gallery_name:first' ).val(obj.picture);

                //}, 200 );    
}

dropzoneMain.on("queuecomplete", function(progress) {
   console.log( 'complete', progress );
    _.forEach( uploadedImages, function( obj, i )
    {
        var pos = $( '#five_country_gallery li:last' ).index();
        obj.element = pos + 1;
        $( '[data-collection="five_country_gallery"]' ).trigger( 'click' );
        _.delay(function(){ addUploadedImages( obj );}, 200);
         
    } );  
});
//$("div#uploadzone").dropzone(uploadConfig);
/*dropzoneMain.on("addedfile", function(file) {
  // Hookup the start button
  dropzoneMain.enqueueFile(file);
});*/
var onSuccess = function(evt, resp)
{
    console.log( evt, 'hereeeee!', resp );
};
            //var myDropzone = new Dropzone("div#uploadzone", { url: "/file/post"});
            //
            $.each( $( '.gallery_image .gallery_name' ), function( elm, index )
            {
                if( $( this ).val() != '' && $( this ).parent().find('img').length <= 0 )
                {
                    $( this ).parent().append( '<img src="/uploads/media/' + $( this ).val() + '" class="img-responsive" width="80" />' )
                }
               /* else
                {
                    $( this ).parent().append( '<a class="btn btn-success add-images dz-clickable">+ Add image</a>' )
                }*/
            } );

            $( '[data-collection="five_country_gallery"]' ).on( 'click', function()
            {
                console.log( 'herer' );
                console.log( $( '#five_country_gallery li:last' ) );
/*                 _.delay( function()
                {
                    $( '#five_country_gallery li:last' ).find( '.gallery_name:first' ).parent().append( '<a class="btn btn-success add-images">+ Add image</a>' );



                }, 200 );*/
            } );
        });

    </script>
    <script>

    </script>        
{% endblock %}