{% extends 'FiveAdminBundle::layout.html.twig' %}

{# {% form_theme form with 'FiveAdminBundle:Form:fields.html.twig' %} #}
{# {% form_theme form with ['FiveAdminBundle:Widget:_gallery_image_widget.html.twig', 'FiveAdminBundle:Widget:_key_fact_widget.html.twig', 'FiveAdminBundle:Widget:common.html.twig'] %} #}

{# {% import "A2lixTranslationFormBundle::macros.html.twig" as a2lixTranslations %} #}
{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}
{# {% form_theme form with ['BraincraftedBootstrapBundle:Form:bootstrap.html.twig'] %} #}
{% form_theme form with [ 'FiveAdminBundle:Form:form_fields.html.twig' ] %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            
                <h1 class="col-xs-12">
                        {{ entity.translate('en').getTitle() }}
                        <small>{{ options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</small>
                </h1>                

            </div>
            <!-- /.box-header -->    
            <div class="box-body table-responsive">
    

    {{ form_errors(form) }}
    {{ form_start( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}
    {{ block( 'ButtonAction' ) }}

    <div class="row">

{#         <div class="col-md-12">
            {% set countryCodes %}
                <div class="row">
                    
                    <div class="col-md-6">{{ form_row(form.code ) }}</div>
                    <div class="col-md-6">{{ form_row(form.codeAlias ) }}</div>
                </div>
            {% endset %}
        
            {{ FiveForm.boxWidget( 'Country Code', countryCodes, "codes_box" ) }}
        </div>    #}  
           
        <div class="col-md-12">
            {{ FiveForm.boxWidget( 'Program Informations', FiveForm.localesTab( form.translations, ['title', 'subtitle', 'description', 'benefitsText',] ), "infos_box" ) }}
        </div>
        <div class="col-md-12">
            {{ FiveForm.boxWidget( 'Qualifying Criterias', FiveForm.localesTab( form.translations, ['criteriasList'] ), "criterias_box" ) }}
        </div>        
        <div class="col-md-12">
          {{ FiveForm.localesTab( form.translations, [ 'proceduresList' ], { cols : 2 }, '' ) }}
            {# {{ FiveForm.boxWidget( 'Costs and Procedures', FiveForm.localesTab( form.translations, ['costProcedure', 'criteriasList', 'costsList', 'proceduresList'], { cols : 2 } ), "cost_procedure_box" ) }} #}
        </div>   

{#         <div class="col-md-12">
            
            {% set markers %}
                <div class="row">
                    
                    <div class="col-md-6">{{ form_row(form.marker.longitude ) }}</div>
                    <div class="col-md-6">{{ form_row(form.marker.latitude ) }}</div>
                </div>
            {% endset %}
        
            {{ FiveForm.boxWidget( 'Map Marker', markers, "markers_box" ) }}

        </div>

        <div class="col-md-12">
            {{ FiveForm.boxWidget( 'Country Key Facts', FiveForm.localesTab( form.translations, [ 'keyFacts' ], { cols : 2 } ), "key_facts_box" ) }} 
        </div>

        <div class="col-md-12">
            {% set imagesGallery %}
            
                {{ form_row( form.imgDirectory ) }}
                <div class="divider"></div>
                {{ form_row(form.gallery ) }}
                <div class="divider"></div>
                {{ form_row(form.sectionImages ) }}
            
            {% endset %}            
            {{ FiveForm.boxWidget( 'Images & Gallery', imagesGallery, "images_gallery_box" ) }} 
        </div>  #}       

    </div>

    {{ form_end( form ) }}
          </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>    
{% endblock %}

{% block js %}
  {{ parent() }}

  <script>
    $(document).ready(function() {


      $('.country_description_block').wysihtml5({
        "font-styles": false,
        "emphasis": true,
        "lists": false,
        "html": true,
        "link": true,
        "image": false,
        "color": false,
        'style' : true,
        'cleanUp': true
                /*    parser: function(html) {
                 return html;
                 }*/
      });
      //toggle `popup` / `inline` mode
      $.fn.editable.defaults.mode = 'inline';

      //make username editable
      //$('#five_country_translations_en_keyFacts_0_key').editable();

      //make status editable
      /*    $('#status').editable({
       type: 'select',
       title: 'Select status',
       placement: 'right',
       value: 2,
       source: [
       {value: 1, text: 'status 1'},
       {value: 2, text: 'status 2'},
       {value: 3, text: 'status 3'}
       ]
       });*/
    });
/*    jQuery(document).ready(function()
    {
      var galleryImages = new Five.FormCollection($('#five_country_gallery'), 'Gallery Images', 'div');
      
      var KeyFacts = new Five.FormCollection($('#five_country_translations_en_keyFacts'), 'Key Facts', 'div');

      var KeyFactsFr = new Five.FormCollection($('#five_country_translations_fr_keyFacts'), 'Key Facts', 'div');
      
      
    });*/
  </script>    
{% endblock %}