{% extends 'FiveAdminBundle::layout.html.twig' %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}
{% form_theme form with [ 'FiveAdminBundle:Form:form_fields.html.twig' ] %}

{% block page_head_title %}{{ entity.translate('en').getName()|default(options.page.title) }}{% endblock %}
{% block page_head_icon %}<i class="fa fa-globe"></i>{% endblock %}
{% block page_head_subtitle %}<h3>{{ entity.id is not empty ? options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</h3>{% endblock %}

{% block content %}

    {{ block( 'ButtonAction' ) }}
    <div class="row">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-8">
                    <div class="row">
                        <div class="widget col-sm-12">
                            <div class="widget-content padding">

                                <div class="row">
    {{ form_errors(form) }}


    {{ form_start( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}
                                {% for child in form %}

<!--                                     {% if child.vars.name == 'categories' %}
                                        <div class="col-sm-{{ child.vars.name == 'submit' ? 12 : 6 }} form-group">                                        
                                        </div>
                                    {% endif %} -->

                                    <div class="col-sm-{{ child.vars.name == 'submit' ? 12 : 6 }} {{ child.vars.name == 'categories' ? 'checkbox':'form-group' }}">
                                        {% if child.vars.name != '_token' %}{{ form_label( child ) }}{% endif %}
                                        {{ form_widget( child, { attr : { class : ( child.vars.name != 'categories' ? "form-control" : '') } } ) }}
                                        
                                    </div>

                                    {% if loop.index0 is odd or loop.last %}
                                        <div class="clearfix visible-lg"></div>
                                    {% endif %}

                                {% endfor %}

    {{ form_end( form ) }}                                
                                
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <div class="widget-content padding">

                                <div class="row">

                                    <div class="col-sm-12">
                                    <!-- <div id="uploadzone" class="" style="width:100%;min-height:150px;"></div>
                                        <div class="dropzone" id="upload_preview">Upload/Replace Image</div> -->
                                        <form action="{{ path( 'five_admin_upload_pictures' ) }}" method="POST" class="dropzone" id="uploadzone" style="min-height:125px!important;">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </form>                                    
                                    
                                    </div>                                    

                                </div> 
                                <div class="row">

                                    <div class="col-sm-12">
                                        
                                            <img id="picture_gallery" src="{{ form.src.vars.value }}" class="img-responsive {{ form.src.vars.value == '' ? 'hidden' : '' }}" />                                                                            
                                    </div>                                    

                                </div>                                  
                            </div>
                        </div>

                    </div>                    

                </div>
        </div>
    </div>

    

<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    

{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select/bootstrap-select.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-inputmask/inputmask.js' ) }}"></script>script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select2/select2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clndr/moment-2.5.1.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/ckeditor.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/adapters/jquery.js' ) }}"></script>
    <!--script src="{{ asset( theme_path ~ 'assets/js/pages/advanced-forms.js' ) }}"></script-->
    <script src="{{ asset( theme_path ~ 'assets/libs/dropzone/dropzone.min.js' ) }}"></script>

    <script>
    Dropzone.options.myAwesomeDropzone = false;
    // This is useful when you want to create the
    // Dropzone programmatically later

    // Disable auto discover for all elements:
    Dropzone.autoDiscover = false;    
    var config = {};
    var uploadedImages = [];
    var uploadConfig = {
        url: "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth: 125,
        thumbnailHeight: 125,
        uploadMultiple: false,
        autoDiscover: false,
        maxFiles: 1,
        acceptedFiles: ".jpg,.jpeg",
        accept: function(file, done) 
        {
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(file.name)[1];
            ext = ext.toUpperCase();
            if ( ext == "JPEG" || ext == "JPG" || ext == "JPE") 
            {
                done();
            }
            else{ 
                done("Only Jpeg images are allowed"); 
            }
        },
        init: function() {
            this.on("maxfilesexceeded", function(file){
                alert("No more files please!");
            });
        },        
        autoQueue: true,
        success : function(evt, resp)
        {
        },
        complete : function(file, resp)
        {
            //console.log( file,file.xhr.response );
            var response = file.xhr.response;
            response = JSON.parse( response );
            console.log( file,response.src );
            if( response.src != "undefined" )
            {
                $('#five_gallery_image_src').val( response.src );
                $('#five_gallery_image_srcThumb').val( response.src );
                $( '#picture_gallery' ).attr( 'src', response.src ).removeClass( 'hidden' );
            }            
        }, 
        addedfile : function(file)
        {
            //console.log( file );
            //uploadedImages.push( { picture: resp.picture, element: null } );
        }

    };
        $( document ).ready( function()
        {

            var dropzoneMain = new Dropzone(document.querySelector( '#uploadzone' ),uploadConfig);
            
            config.enterMode = CKEDITOR.ENTER_BR;
            config.allowedContent = true;
            config.extraPlugins = 'autogrow';
            config.autoGrow_onStartup = true;
            config.autoGrow_minHeight = 75;
            config.toolbarCanCollapse = true;
            config.toolbar = [
                [ 'Source', '-', 'Link','Unlink', 'Anchor', '-','JustifyLeft', 'JustifyCenter', 'JustifyRight', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]
            ];            

            //$( '.editor-basic' ).ckeditor( config );
            $( 'textarea' ).ckeditor( config );
        });

        
    </script>    
{% endblock %}