{% extends 'FiveAdminBundle::layout.html.twig' %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}


{% block page_head_title %}{{  entity.translate('en').getName()|default('') }}{% endblock %}
{% block page_head_icon %}<i class="fa fa-globe"></i>{% endblock %}
{% block page_head_subtitle %}<h3>{{ entity is defined and entity.id is not empty ? options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</h3>{% endblock %}

{% block content %}

    {{ block( 'ButtonAction' ) }}
    <div class="row">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-10">
                    <div class="row">
                        <div class="widget col-sm-12">
                            <div class="widget-content padding">



                                <div class="row">


    <h2><strong>Cuisine</strong></h2>

    <br /><h4>Nouveau style</h4>
    <div class="container" id="kitchen-styles">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="kitchen-add-style-fr">Nom du style FR</label>
                <input id="kitchen-add-style-fr" name="kitchen-add-style-fr" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-add-style-en">Nom du style EN</label>
                <input id="kitchen-add-style-en" name="kitchen-add-style-en" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-desc-style-fr">Description FR</label>
                <textarea id="kitchen-desc-style-fr" name="kitchen-desc-style-fr" class="form-control"></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-desc-style-en">Description EN</label>
                <textarea id="kitchen-desc-style-en" name="kitchen-desc-style-en" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button id="kitchen-add-style-button" class="btn btn-default">Ajouter</button>
            </div>
        </div>


        <br />

        <h3>Styles</h3>
                <div class="panel-group accordion-toggle" id="kitchen-styles-group">


                {% for style in kitchenStyles %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiondemo" href="#kitchen-style-accordion-{{ style.id }}" aria-expanded="false" class="collapsed">
                          {{ style.fr }} <small>{{ style.en }}</small>
                        </a>
                      </h4>
                    </div>
                    <div id="kitchen-style-accordion-{{ style.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
                            <div class="container" id="{{ style.id }}">
                                <h4>{{ style.fr }} <small>{{ style.en }}</small> <a class="delete" data-id="{{ style.id }}">x</a></h4>
                                <div class="col-md-5 form-group">
                                    <textarea class="edit-style-desc-fr form-control">{{ style.frDescription }}</textarea>
                                </div>
                                <div class="col-md-5 form-group">
                                    <textarea class="edit-style-desc-en form-control">{{ style.enDescription }}</textarea>
                                </div>
                                <div class="col-md-2 form-group">
                                    <button class="edit-style-desc btn btn-default" data-id="{{ style.id }}">Modifier</button>
                                </div>

                                <div class="col-md-12">
                                    <h4>Téléverser une image</h4>
                                </div>

                                <div class="col-md-6 form-group">
                                    <textarea class="kitchen-upload-style-fr form-control">Texte en français</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <textarea class="kitchen-upload-style-en form-control">Texte en anglais</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="file" class="kitchen-upload-style-img form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <button class="upload-button btn btn-default" data-id="{{ style.id }}">Téléverser</button>
                                </div>

                                <div class="container">
                                    <ul class="imgs">
                                    {% if stylesImages[style.id] is defined %}
                                    {% for img in stylesImages[style.id] %}
                                        <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                                            <a class="delete-img">x</a>
                                            <img src="/uploads/{{ img.url }}"/>
                                            <textarea class="fr">{{ img.fr }}</textarea>
                                            <textarea class="en">{{ img.en }}</textarea>
                                            <button class="update-img"  data-id="{{ style.id }}">Modifier</button>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>

                          </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    <BR /><BR />
    <h3>Matériaux</h3>


    <br /><h4>Nouveau matériaux</h4>
    <div class="container" id="kitchen-materials">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="kitchen-add-material-fr">Nom du style FR</label>
                <input id="kitchen-add-material-fr" name="kitchen-add-material-fr" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-add-material-en">Nom du style EN</label>
                <input id="kitchen-add-material-en" name="kitchen-add-material-en" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-desc-material-fr">Description FR</label>
                <textarea id="kitchen-desc-material-fr" name="kitchen-desc-material-fr" class="form-control"></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="kitchen-desc-material-en">Description EN</label>
                <textarea id="kitchen-desc-material-en" name="kitchen-desc-material-en" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button id="kitchen-add-material-button" class="btn btn-default">Ajouter</button>
            </div>
        </div>


        <br />


                <div class="panel-group accordion-toggle" id="kitchen-materials-group">


                {% for material in kitchenMaterials %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiondemo" href="#kitchen-material-accordion-{{ material.id }}" aria-expanded="false" class="collapsed">
                          {{ material.fr }} <small>{{ material.en }}</small>
                        </a>
                      </h4>
                    </div>
                    <div id="kitchen-material-accordion-{{ material.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">

                            <div class="container" id="{{ material.id }}">
                                <h4>{{ material.fr }} <small>{{ material.en }}</small> <a class="delete" data-id="{{ material.id }}">x</a></h4>

                                <div class="col-md-5 form-group">
                                    <textarea class="edit-material-desc-fr form-control">{{ material.frDescription }}</textarea>
                                </div>
                                <div class="col-md-5 form-group">
                                    <textarea class="edit-material-desc-en form-control">{{ material.enDescription }}</textarea>
                                </div>
                                <div class="col-md-2 form-group">
                                    <button class="edit-material-desc btn btn-default" data-id="{{ material.id }}">Modifier</button>
                                </div>

                                <div class="col-md-12">
                                    <h4>Téléverser une image</h4>
                                </div>

                                <div class="col-md-6 form-group">
                                    <textarea class="kitchen-upload-material-fr form-control">Texte en français</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <textarea class="kitchen-upload-material-en form-control">Texte en anglais</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="file" class="kitchen-upload-material-img form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <button class="upload-button btn btn-default" data-id="{{ material.id }}">Téléverser</button>
                                </div>



                                <div class="container">
                                    <ul class="imgs">
                                    {% if materialsImages[material.id] is defined %}
                                    {% for img in materialsImages[material.id] %}
                                        <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                                            <a class="delete-img">x</a>
                                            <img src="/uploads/{{ img.url }}"/>
                                            <textarea class="fr">{{ img.fr }}</textarea>
                                            <textarea class="en">{{ img.en }}</textarea>
                                            <button class="update-img" data-id="{{ material.id }}">Modifier</button>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>


        </div>








    <BR /><BR /><hr /><BR /><BR />

    <h2><strong>Salle de bain</strong></h2>
    <br /><h4>Nouveau style</h4>
    <div class="container" id="bathroom-styles">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="bathroom-add-style-fr">Nom du style FR</label>
                <input id="bathroom-add-style-fr" name="bathroom-add-style-fr" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-add-style-en">Nom du style EN</label>
                <input id="bathroom-add-style-en" name="bathroom-add-style-en" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-desc-style-fr">Description FR</label>
                <textarea id="bathroom-desc-style-fr" name="bathroom-desc-style-fr" class="form-control"></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-desc-style-en">Description EN</label>
                <textarea id="bathroom-desc-style-en" name="bathroom-desc-style-en" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button id="bathroom-add-style-button" class="btn btn-default">Ajouter</button>
            </div>
        </div>


        <br />
        <h3>Styles</h3>
        <div class="panel-group accordion-toggle" id="bathroom-styles-group">
        {% for style in bathroomStyles %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiondemo" href="#bathroom-styles-accordion-{{ style.id }}" aria-expanded="false" class="collapsed">
                          {{ style.fr }} <small>{{ style.en }}</small>
                        </a>
                      </h4>
                    </div>
                    <div id="bathroom-styles-accordion-{{ style.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">

                            <div class="container" id="{{ style.id }}">

                                <h4>{{ style.fr }} <small>{{ style.en }}</small> <a class="delete" data-id="{{ style.id }}">x</a></h4>

                                <div class="col-md-5 form-group">
                                    <textarea class="edit-style-desc-fr form-control">{{ style.frDescription }}</textarea>
                                </div>
                                <div class="col-md-5 form-group">
                                    <textarea class="edit-style-desc-en form-control">{{ style.enDescription }}</textarea>
                                </div>
                                <div class="col-md-2 form-group">
                                    <button class="edit-style-desc btn btn-default" data-id="{{ style.id }}">Modifier</button>
                                </div>

                                <div class="col-md-12">
                                    <h4>Téléverser une image</h4>
                                </div>

                                <div class="col-md-6 form-group">
                                    <textarea class="bathroom-upload-style-fr form-control">Texte en français</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <textarea class="bathroom-upload-style-en form-control">Texte en anglais</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="file" class="bathroom-upload-style-img form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <button class="upload-button btn btn-default" data-id="{{ style.id }}">Téléverser</button>
                                </div>
                                <div class="container">
                                    <ul class="imgs">
                                    {% if stylesImages[style.id] is defined %}
                                    {% for img in stylesImages[style.id] %}
                                        <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                                            <a class="delete-img">x</a>
                                            <img src="/uploads/{{ img.url }}"/>
                                            <textarea class="fr">{{ img.fr }}</textarea>
                                            <textarea class="en">{{ img.en }}</textarea>
                                            <button class="update-img" data-id="{{ style.id }}">Modifier</button>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

        </div>
<BR /><BR />


    <br /><h3>Nouveau matériaux</h3>
    <div class="container" id="bathroom-materials">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="bathroom-add-material-fr">Nom du matériaux FR</label>
                <input id="bathroom-add-material-fr" name="bathroom-add-material-fr" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-add-material-en">Nom du matériaux EN</label>
                <input id="bathroom-add-material-en" name="bathroom-add-material-en" type="text" value="" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-desc-material-fr">Description FR</label>
                <textarea id="bathroom-desc-material-fr" name="bathroom-desc-material-fr" class="form-control"></textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="bathroom-desc-material-en">Description EN</label>
                <textarea id="bathroom-desc-material-en" name="bathroom-desc-material-en" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button id="bathroom-add-material-button" class="btn btn-default">Ajouter</button>
            </div>
        </div>


        <br />
        <h3>Matériaux</h3>

    <div class="panel-group accordion-toggle" id="bathroom-materials-group">
        {% for material in bathroomMaterials %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordiondemo" href="#bathroom-materials-accordion-{{ material.id }}" aria-expanded="false" class="collapsed">
                          {{ material.fr }} <small>{{ material.en }}</small>
                        </a>
                      </h4>
                    </div>
                    <div id="bathroom-materials-accordion-{{ material.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">

                            <div class="container" id="{{ material.id }}">
                                <h4>{{ material.fr }} <small>{{ material.en }}</small> <a class="delete" data-id="{{ material.id }}">x</a></h4>

                                <div class="col-md-5 form-group">
                                    <textarea class="edit-material-desc-fr form-control">{{ material.frDescription }}</textarea>
                                </div>
                                <div class="col-md-5 form-group">
                                    <textarea class="edit-material-desc-en form-control">{{ material.enDescription }}</textarea>
                                </div>
                                <div class="col-md-2 form-group">
                                    <button class="edit-material-desc btn btn-default" data-id="{{ material.id }}">Modifier</button>
                                </div>

                                <div class="col-md-12">
                                    <h4>Téléverser une image</h4>
                                </div>

                                <div class="col-md-6 form-group">
                                    <textarea class="bathroom-upload-material-fr form-control">Texte en français</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <textarea class="bathroom-upload-material-en form-control">Texte en anglais</textarea>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="file" class="bathroom-upload-material-img form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <button class="upload-button btn btn-default" data-id="{{ material.id }}">Téléverser</button>
                                </div>

                                <div class="container">
                                    <ul class="imgs">
                                    {% if materialsImages[material.id] is defined %}
                                    {% for img in materialsImages[material.id] %}
                                        <li class="ui-state-default" id="img{{ img.id }}" data-sort="{{ img.sortOrder }}">
                                            <a class="delete-img">x</a>
                                            <img src="/uploads/{{ img.url }}"/>
                                            <textarea class="fr">{{ img.fr }}</textarea>
                                            <textarea class="en">{{ img.en }}</textarea>
                                            <button class="update-img" data-id="{{ material.id }}">Modifier</button>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>


        </div>


<style>
.imgs {
    padding-left: 50px;
}
.imgs img {
    width: 150px;
}
.delete,.delete-img {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
</style>


                                </div>

                            </div>
                        </div>
                    </div>
                    </div>

                </div>
        </div>
    </div>



<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select/bootstrap-select.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-inputmask/inputmask.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select2/select2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clndr/moment-2.5.1.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js' ) }}"></script>


    <!--script src="{{ asset( theme_path ~ 'assets/js/pages/advanced-forms.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/dropzone/dropzone.min.js' ) }}"></script-->
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <script>
    var config = {};
    var uploadedImages = [];
    var uploadConfig = {
        url: "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth: 125,
        thumbnailHeight: 125,
        uploadMultiple: false,
        autoDiscover: false,
        //parallelUploads: 10,
        //clickable: 'a.add-images',
        //previewTemplate: '<div style="display:none"></div>',
        autoQueue: true,
        success : function(evt, resp)
        {
            console.log( evt, 'hereeeee!', resp );
/*            if( !resp.src == "undefined" )
            {
                $('#five_gallery_image_src').val( resp.src );
                $('#five_gallery_image_srcThumb').val( resp.src );
            }*/
            //uploadedImages.push( { picture: resp.picture, element: null } );
        },
        complete : function(file, resp)
        {
            //console.log( file,file.xhr.response );
            var response = file.xhr.response;
            response = JSON.parse( response );
            console.log( file,response.src );
            if( response.src != "undefined" )
            {
/*                $('#five_gallery_image_src').val( response.src );
                $('#five_gallery_image_srcThumb').val( response.src );
                $( '#picture_gallery' ).attr( 'src', response.src ).removeClass( 'hidden' );*/
            }
        },
        addedfile : function(file)
        {
            //console.log( file );
            //uploadedImages.push( { picture: resp.picture, element: null } );
        }

    };
        $( document ).ready( function()
        {

            //var dropzoneMain = new Dropzone(document.querySelector( '.dropzone' ),uploadConfig);
// dropzoneMain.on("success", function(evt, resp) {
//   // Hookup the start button
//   console.log( evt, 'hereeeee!', resp );
// });
/*            config.allowedContent = true;
            config.extraPlugins = 'autogrow';
            config.autoGrow_onStartup = true;
            config.autoGrow_minHeight = 75;
            config.toolbarCanCollapse = true;
            config.toolbar = [
                [ 'Source', '-', 'Link','Unlink', 'Anchor', '-','JustifyLeft', 'JustifyCenter', 'JustifyRight', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]
            ];
            $( '.editor-basic' ).ckeditor(config);*/
        });


    </script>
<script>
 function updateSort() {
    $(".imgs").sortable({
     update: function( event, ui ) {
         $.ajax({
             type: "POST",
             url: "/admin/api",
             data: { method: 'update-order', type: 'type', category: 'category', ids: $( this ).sortable( "toArray" ) }
         }).done( function(msg) {
         });
     }
 })};
$(document).ready( function() {

    $(".update-img").on("click", function() {
        console.log(this);
       $.post('/admin/api', { method: 'update-img', id: $(this).parent().attr('id').substring(3), fr: $(this).parent().children(".fr").first().val(), en: $(this).parent().children(".en").first().val() },
           function( ) {
            alert("Les modificiations ont été sauvegardées.");
           });

    });
    updateSort();
     $('.imgs li').sort(function (a, b) {
       var contentA = parseInt( $(a).attr('data-sort'));
       var contentB = parseInt( $(b).attr('data-sort'));
       console.log( 'Sort', ((contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0) );
       return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
     })
     //.appendTo($(this).parent);

     $( ".imgs" ).disableSelection();

    /*************************
     ** STYLES              **
     *************************/

    $("#kitchen-add-style-button").on("click", function() {
       $.post('/admin/api', { method: 'add-style', type: 'kitchen', fr: $('#kitchen-add-style-fr').val(), en: $('#kitchen-add-style-en').val(), frDesc: $('#kitchen-desc-style-fr').val(), enDesc: $('#kitchen-desc-style-en').val() },
            function(r) {
               $('#kitchen-styles-group').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#kitchen-styles-group" href="#accordion-'+r.id+'" aria-expanded="false" class="collapsed">'+r.fr+' <small>'+r.en+'</small></a></h4></div><div id="accordion-'+r.id+'" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="kitchen-upload-style-img"><textarea class="kitchen-upload-style-fr">Texte en français</textarea><textarea class="kitchen-upload-style-en">Texte en anglais</textarea><button class="kitchen-upload-style-button" data-id="'+s.id+'">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div></div></div></div>');

            }
        );
    });

    $("#bathroom-add-style-button").on("click", function() {
       $.post('/admin/api', { method: 'add-style', type: 'bathroom', fr: $('#bathroom-add-style-fr').val(), en: $('#bathroom-add-style-en').val(), frDesc: $('#bathroom-desc-style-fr').val(), enDesc: $('#bathroom-desc-style-en').val() },
            function(r) {
               $('#bathroom-styles-group').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#bathroom-styles-group" href="#accordion-'+r.id+'" aria-expanded="false" class="collapsed">'+r.fr+' <small>'+r.en+'</small></a></h4></div><div id="accordion-'+r.id+'" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="bathroom-upload-style-img"><textarea class="bathroom-upload-style-fr">Texte en français</textarea><textarea class="bathroom-upload-style-en">Texte en anglais</textarea><button class="bathroom-upload-style-button" data-id="'+s.id+'">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div></div></div></div>');
            }
        );
    });

    /*************************
     ** MATERIALS           **
     *************************/

    $("#kitchen-add-material-button").on("click", function() {
       $.post('/admin/api', { method: 'add-material', type: 'kitchen', fr: $('#kitchen-add-material-fr').val(), en: $('#kitchen-add-material-en').val() },
            function(r) {
               $('#kitchen-materials-group').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#kitchen-materials-group" href="#accordion-'+r.id+'" aria-expanded="false" class="collapsed">'+r.fr+' <small>'+r.en+'</small></a></h4></div><div id="accordion-'+r.id+'" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="kitchen-upload-material-img"><textarea class="kitchen-upload-material-fr">Texte en français</textarea><textarea class="kitchen-upload-material-en">Texte en anglais</textarea><button class="kitchen-upload-material-button" data-id="'+s.id+'">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div></div></div></div>');
            }
        );
    });

    $("#bathroom-add-material-button").on("click", function() {
       $.post('/admin/api', { method: 'add-material', fr: $('#bathroom-add-material-fr').val(), en: $('#bathroom-add-material-en').val() },
            function(r) {
                console.log(r);
               $('#bathroom-materials-group').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#bathroom-materials-group" href="#accordion-'+r.id+'" aria-expanded="false" class="collapsed">'+r.fr+' <small>'+r.en+'</small></a></h4></div><div id="accordion-'+r.id+'" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><div class="container" id="'+r.id+'"><h4>'+r.fr+' <small>'+r.en+'</small> <a class="delete">x</a></h4><input type="file" class="bathroom-upload-material-img" ><textarea class="bathroom-upload-material-fr">Texte en français</textarea><textarea class="bathroom-upload-material-en">Texte en anglais</textarea><button class="bathroom-upload-material-button" data-id="'+s.id+'">Téléverser</button><div class="container"><ul class="imgs"></ul></div></div></div></div></div>');
            }
        );
    });

    $(".delete").on("click", function() {
       $.post('/admin/api', { method: 'delete', id: $(this).parent().parent().attr('id') },
            function(r) {
                console.log(r);
                $("#"+r.id).hide();
            }
        );
    });

    $(".delete-img").on("click", function() {
       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id') },
            function(r) {
                console.log(r);
                $("#"+r.id).hide();
            }
        );
    });
$('input[type=file]').on('change', prepareUpload);
    var files;

    function prepareUpload(event) {
        files = event.target.files;
    }

    $("#kitchen-styles .upload-button").on("click",function()
    {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = $("#kitchen-styles .upload-button");
        frText = $(button).parent().children('.kitchen-upload-style-fr').first().val();
        enText = $(button).parent().children('.kitchen-upload-style-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
            console.log( '$("#kitchen-styles .upload-button")', r );
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'style',
                    category: $(button).data('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    $(button).parent().parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();

                    $(".delete-img").on("click", function() {
                       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
                       function( ) {
                            $(this).parent().hide();
                       });

                    });
                }
            );
        }
        });
    } );

    $("#kitchen-materials .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.kitchen-upload-material-fr').first().val();
        enText = $(button).parent().children('.kitchen-upload-material-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'material',
                    category: $(button).data('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    console.log($(button).parent().parent().find('.imgs'));
                    $(button).parent().parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();

                    $(".delete-img").on("click", function() {
                       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
                       function( ) {
                            $(this).parent().hide();
                       });

                    });
                }
            );
        }
        });

    });

    $("#bathroom-styles .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.bathroom-upload-style-fr').first().val();
        enText = $(button).parent().children('.bathroom-upload-style-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'style',
                    category: $(button).data('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    $(button).parent().parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();

                    $(".delete-img").on("click", function() {
                       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
                       function( ) {
                            $(this).parent().hide();
                       });

                    });
                }
            );
        }
        });

    });

    $("#bathroom-materials .upload-button").on("click", function() {
       var imgData = new FormData();
       $.each(files, function(k,v) {
            imgData.append(k,v);
       });
        console.log(imgData);

        button = this;
        frText = $(button).parent().children('.bathroom-upload-material-fr').first().val();
        enText = $(button).parent().children('.bathroom-upload-material-en').first().val();

       $.ajax({
        url: '/admin/api',
        type: 'POST',
        data: imgData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function(r) {
           $.post('/admin/api', {
                    method: 'upload-img',
                    type: 'material',
                    category: $(button).data('id'),
                    url: r.url,
                    fr: frText,
                    en: enText
                },
                function(s) {
                    $(button).parent().parent().find('.imgs').append('<li class="ui-state-default" id="img'+s.id+'"><a class="delete-img" data-id="'+s.id+'">x</a><img src="/uploads/'+r.url+'"/><textarea class="fr">'+frText+'</textarea><textarea class="en">'+enText+'</textarea><button id="bathroom-update-material-button" data-id="'+s.id+'">Modifier</button></li>');
                    updateSort();

                    $(".delete-img").on("click", function() {
                       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
                       function( ) {
                            $(this).parent().hide();
                       });

                    });
                }
            );
        }
        });

    });

    $(".delete-img").on("click", function() {
       $.post('/admin/api', { method: 'delete-img', id: $(this).data('id').substring(3) },
       function( ) {
            $(this).parent().hide();
       });

    });

    $(".edit-style-desc").on("click", function() {
       $.post('/admin/api', { method: 'edit-style', id: $(this).attr("data-id"), en: $(this).parent().parent().find('.edit-style-desc-en').first().val() , fr: $(this).parent().parent().find('.edit-style-desc-fr').first().val() },
       function(r) {
            alert(r);
            /* alert("Les modifications ont été sauvegardées."); */
       });
    });
    $(".edit-material-desc").on("click", function() {
       $.post('/admin/api', { method: 'edit-material', id: $(this).attr("data-id"), en: $(this).parent().parent().find('.edit-material-desc-en').first().val() , fr: $(this).parent().parent().find('.edit-material-desc-fr').first().val() },
       function( ) {
            alert(r);
            /* alert("Les modifications ont été sauvegardées."); */
       });
    });

});

</script>
{% endblock %}
