{% extends 'FiveAdminBundle::layout.html.twig' %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}
{% form_theme form with [ 'FiveAdminBundle:Form:form_fields.html.twig' ] %}

{% block page_head_title %}{{ entity.translate('en').getName()|default(options.page.title) }}{% endblock %}
{% block page_head_icon %}<i class="fa fa-globe"></i>{% endblock %}
{% block page_head_subtitle %}<h3>{{ entity.id is not empty ? options.page.title | default( '' ) }}{{ entity.id | default( '' ) }}</h3>{% endblock %}

{% block content %}
<link href="{{ asset( theme_path ~ 'assets/libs/jquery-nestable/jquery.nestable.css' ) }}" rel="stylesheet" type="text/css" />
<style>
/*body.dragging, body.dragging * {
  cursor: move !important;
}*/

.btn-star i
{
    color: #F9f9f9;
    font-size:22px;
}
.btn-star.active i
{
    color: #FFC052;
}

.pic-desc
{
    min-height: 80px;
}

.pic-title
{
    margin-bottom: 6px;
}

ol.vertical > li
{
    padding: 10px 10px 10px 10px;
    background: #f9f9f9;
    border: 1px solid #E4EAE6;
    margin-bottom: 8px;
}
ol.vertical > li img
{    
    cursor: move;
}

ol.vertical li.placeholder:before {
position: absolute;
content: "";
width: 0;
height: 0;
margin-top: -5px;
left: -5px;
top: -4px;
border: 5px solid transparent;
border-left-color: #68C39F;
border-right: none;
top: 1px;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ol.vertical li.placeholder {
position: relative;
margin: 0;
padding: 0;
border-top: 1px dashed #68C39F;
top: 1px;


}
ol.simple_with_drop li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.simple_with_drop li.placeholder:before {
  position: absolute;
  /*margin-top: -5px;
  top: -5px;*/
  /** Define arrowhead **/
}
{#
.dd-handle:before {
content: '≡';
display: block;

width: 100%;
text-align: center;
text-indent: 0;
color: #fff;
font-size: 20px;
font-weight: normal;
}

/* position: absolute; */
.dd-handle
{


margin: 0;
left: 0;
top: 0;
cursor: pointer;
width: 30px;
text-indent: 300%;
white-space: nowrap;
overflow: hidden;
border: 0px solid #ddd;
background: #909C9C;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
#}
.widget .nav-tabs.nav-simple > li.active > a, .widget .nav-tabs.nav-simple > li.active > a:hover, .widget .nav-tabs.nav-simple > li.active > a:focus
{


background: #ffffff;
 /*rgba(255,255,255,0.4)*/
border-left: 4px solid #68C39F;
color: #666;
/*border-bottom: 1px solid #ddd;*/
/*border-radius: 4px;*/
}

.widget .nav-tabs.nav-simple
{
/*border-bottom: none;    */
}

.widget .tab-content
{
    padding-top: 10px;
    padding-bottom: 30px;
}

</style>
    {{ block( 'ButtonAction' ) }}
        {{ form_errors(form) }}
    {{ form_start( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}

    {{ form_end( form ) }}

                                
            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="widget">
                                            <div class="widget-content padding">

                                               <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                        <div class="col-sm-12">
                                                                <h3>Details</h3>
                                                                <hr />
                                                                <ul id="imagedata-main" class="nav nav-tabs nav-simple">
                                                                    <li class="active">
                                                                        <a href="#imagedata-en-main" data-toggle="tab">English</a>
                                                                    </li>
                                                                    <li class="">
                                                                        <a href="#imagedata-fr-main" data-toggle="tab">French</a>
                                                                    </li>
                                                                </ul>                                                         
                                                                <div class="tab-content">
                                                                    <div class="tab-pane fade active in" id="imagedata-en-main">
                                                                        <div class="input-group-sm">
                                                                            <input name="titleEn" type="text" class="form-control input-small pic-title" placeholder="Title" value="" />
                                                                            <textarea name="descEn" class="form-control input-small pic-desc" placeholder="Description"></textarea>                                                                                                
                                                                        </div>
                                                                    </div> <!-- / .tab-pane -->
                                                                    <div class="tab-pane fade" id="imagedata-fr-main">
                                                                        <div class="input-group-sm">
                                                                            <input name="titleFr" type="text" class="form-control input-small pic-title" placeholder="Title" value="" />
                                                                            <textarea name="descFr" class="form-control input-small pic-desc" placeholder="Description"></textarea>                                                                                            
                                                                            
                                                                        </div>
                                                                    </div> <!-- / .tab-pane -->                                                                                        
                                                                </div>
                                                        </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h3>Gallery categorisation</h3>
                                                                <hr />
                                                            </div>
                                                            <div class="col-sm-6  form-group">
                                                                <label>Styes</label>
                                                                <select class="form-control" name="styles_filter" id="styles_filter">
                                                                    <option value="">-- All Styles --</option>
                                                                    <option value="rough_chic" {{ 'cat2' == 'rough_chic' ? 'selected' : '' }}>Rough Chic</option>
                                                                    <option value="classic" {{ 'cat2' == 'classic' ? 'selected' : '' }}>Classic</option>
                                                                    <option value="modern" {{ 'cat2' == 'modern' ? 'selected' : '' }}>Modern</option>
                                                                    <option value="contemporary" {{ 'cat2' == 'contemporary' ? 'selected' : '' }}>Contemporary</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-6  form-group">
                                                                <label>Styes</label>
                                                                <select class="form-control" name="styles_filter" id="styles_filter">
                                                                    <option value="">-- All Styles --</option>
                                                                    <option value="rough_chic" {{ 'cat2' == 'rough_chic' ? 'selected' : '' }}>Rough Chic</option>
                                                                    <option value="classic" {{ 'cat2' == 'classic' ? 'selected' : '' }}>Classic</option>
                                                                    <option value="modern" {{ 'cat2' == 'modern' ? 'selected' : '' }}>Modern</option>
                                                                    <option value="contemporary" {{ 'cat2' == 'contemporary' ? 'selected' : '' }}>Contemporary</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                
                                                                <hr />
                                                            </div>                                                            
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6"> 
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <h3>Cover picture</h3>
                                                                <hr />
                                                                <img src="/bundles/fiveadmin/img/no-image.png" class="img-thumbnail" />
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>                                                
                                               <div class="row">
                                                    <div class="col-md-12">
                                                    <hr />
                                                        <a class="btn btn-success add-images"><span class="fa icon-list-add"></span>  Add Pictures</a>
                                                        <a class="btn btn-info upload-images"><span class="fa icon-upload-cloud"></span>  Upload</a>
                                                        <div id="uploadzone" class="" style="width:100%;min-height:50px;"></div>
                                                        <div id="upload_preview"></div>

                                                        {# {{ FiveForm.dropzoneUploadWidget() }} #}


                                                    </div>
                                               </div>

                                                <div class="row">                    
                                                    <div class="col-md-12"><div class="divider"></div></div>
                                                </div>                                
                                              
                                                <div class="row  ">                    
                                                <div class="portlets" id="#gallery_picures" style="display:block;overflow:auto;">
{% for im in ['0b9e5b689c3f7a3fba866d90939cc6d7e7c535d4.jpg', '0c7732b4a0b5337d3be5fa90637a4671a5281b51.jpg', '0d4026c5e38b4c7b6f14b7f68352c89734c9af17.jpg', '7c963977249e839ed134f53185795aa64f919fe6.jpg', '8fe83cc18429e599d2c598f3b06cfca962ac22cf.jpg', '5091eee885a58b9ece4ee9c910055be2ae37cdee.jpg', '1016573f7e3bb3d99d7f6d5247dcebf64e3674ca.jpg' ] %}
                                                <div class="picture-box col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:25px">

<!-- <div class="thumbnail">
          <div style="width:100%;height:150px;overflow:hidden;"><img src="/uploads/{{ im }}" class="img-responsive" style="min-height:150px;margin:0 auto;" /></div>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>    -->                                                 
                                                    

                                                    
                                                    <div class="widget">
                                                        <div class="widget-header" style="height:150px;">

                                                            <div style="width:100%;height:150px;overflow:hidden;">
                                                                <img src="/uploads/{{ im }}" class="img-responsive" style="min-height:150px;margin:auto auto;" />
                                                            </div>
                                                            <!-- <h2><strong>Green 2</strong> Portlet</h2> -->
                                                            <div style="position:absolute;top:4px;left:4px;">
                                                                <a href="/uploads/{{ im }}" class="btn btn-info btn-sm view" style="color:#ffffff;"><span class="glyphicon glyphicon-search"></span></a>
                                                            </div>
                                                            <div style="position:absolute;top:4px;right:4px;">
                                                                 <button data-original-title="Use Picture as gallery cover" data-toggle="tooltip" title="" type="button" class="btn btn-default btn-star active picture_update" style="padding:0;"><i class="fa icon-star-1"></i></button>
                                                            </div>
                                                            <div style="width:100%;position:absolute;bottom:0;background-color:rgba(220,220,220,.15);padding:4px;">
                                                                <!-- <div class="col-sm-4"><input type="checkbox" /> <button class="btn btn-danger btn-sm"><span class="fa fa-edit"></span>Delete</button></div> -->
                                                                <div class="pull-left">
                                                                    <!-- <a href="/uploads/{{ im }}" class="btn btn-info btn-sm view"><span class="glyphicon glyphicon-search"></span></a> -->
                                        <div class="btn-group">
                                            <button data-original-title="Delete Picture" data-toggle="tooltip" title="Delete Picture" type="button" class="btn btn-danger btn-sm delete"><i class="fa icon-trash"></i></button>
                                        </div>                                                                    
                                                                </div>
                                                                <div class="pull-right">
                                    
                                        <div class="btn-group">

                                            <button data-original-title="Replace Picture" data-toggle="tooltip" title="" type="button" class="btn btn-primary btn-sm picture_update"><i class="fa icon-picture"></i></button>
                                             
                                            <button data-original-title="Close" data-toggle="tooltip" title="Close" type="button" class="btn btn-primary btn-sm edit_cancel hidden"><i class="fa icon-up-open"></i> Close</button>
                                            <button data-original-title="Edit" data-toggle="tooltip" title="Title & Description" type="button" class="btn btn-primary btn-sm edit"><i class="fa icon-edit-alt"></i> Edit</button>

                                        </div>                                                                
                                        

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget-content padding" style="display:none;">
                                                                                      <ul id="imagedata-{{ loop.index0 }}" class="nav nav-tabs nav-simple">
                                                                                        <li class="active">
                                                                                            <a href="#imagedata-en-{{ loop.index0 }}" data-toggle="tab">English</a>
                                                                                        </li>
                                                                                        <li class="">
                                                                                            <a href="#imagedata-fr-{{ loop.index0 }}" data-toggle="tab">French</a>
                                                                                        </li>
                                                                                    </ul>                                                         
                                                                                    <div class="tab-content">
                                                                                        <div class="tab-pane fade active in" id="imagedata-en-{{ loop.index0 }}">
                                                                                            <div class="input-group-sm">
                                                                                                <input name="titleEn" type="text" class="form-control input-small pic-title" placeholder="Title" value="" />
                                                                                                <textarea name="descEn" class="form-control input-small pic-desc" placeholder="Description"></textarea>                                                                                                
                                                                                            </div>
                                                                                        </div> <!-- / .tab-pane -->
                                                                                        <div class="tab-pane fade" id="imagedata-fr-{{ loop.index0 }}">
                                                                                            <div class="input-group-sm">
                                                                                                <input name="titleFr" type="text" class="form-control input-small pic-title" placeholder="Title" value="" />
                                                                                                <textarea name="descFr" class="form-control input-small pic-desc" placeholder="Description"></textarea>                                                                                            
                                                                                                
                                                                                            </div>
                                                                                        </div> <!-- / .tab-pane -->                                                                                        
                                                                                    </div>                                                                                             
                                                        </div>
                                                    </div>

                                                                                                        
                                                </div>
                                    <!-- {% if loop.index0 is odd or loop.last %} -->
                                        <!-- <div class="clearfix visible-lg-3"></div> -->
                                    <!-- {% endif %}                                                 -->
{% endfor %}
</div>





                                        
                                                    
                                                </div>
                                                <div class="row">                    
                                                    <div class="col-md-12">
                                                        <button class="btn btn-default add-button">+ Add Image</button>
                                                                                
                                                    </div>
                        </div>                                                                
                    </div>
                </div>
            </div>
        </div>



    

{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select/bootstrap-select.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-inputmask/inputmask.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/jquery.mockjax.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/demo-mock.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select2/select2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clndr/moment-2.5.1.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/ckeditor.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/adapters/jquery.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/pages/advanced-forms.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/dropzone/dropzone.min.js' ) }}"></script>
    <!--script src="{{ asset( theme_path ~ 'assets/libs/jquery-nestable/jquery.nestable.js' ) }}"></script-->
    <script src="{{ asset( theme_path ~ 'assets/libs/sortable/sortable.min.js' ) }}"></script>
    <!--script src="{{ asset( theme_path ~ 'assets/js/jquery-sortable.js' ) }}"></script-->


    <script>



    var config = {};
    var uploadedImages = [];
    var uploadConfig = {
        url: "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        clickable: 'a.add-images',
        previewTemplate: '<div style="display:none"></div>',
        autoQueue: true,
        acceptedFiles: ".jpg,.jpeg",
        accept: function(file, done) 
        {
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(file.name)[1];
            ext = ext.toUpperCase();
            if ( ext == "JPEG" || ext == "JPG" || ext == "JPE") 
            {
                done();
            }
            else{ 
                done("Only Jpeg images are allowed"); 
            }
        },        
        success : function(evt, resp)
        {
            //console.log( evt, 'hereeeee!', resp );
            uploadedImages.push( { picture: resp.picture, element: null } );
        }

    };

    function cloneRow( imgSrc )
    {
        var li = $(".picture-box:first");
        var liClone = li.clone();
        liClone.find( 'img' ).attr( 'src', imgSrc );
        liClone.find( 'input[name="titleFr"]' ).val( '' );
        liClone.find( 'input[name="titleEn"]' ).val( '' );
        liClone.find( 'input[name="descFr"]' ).val( '' );
        liClone.find( 'input[name="descEn"]' ).val( '' );

        liClone.insertBefore( li );

        return liClone;
    }

var output;

var handlePictureBoxEditCancelClick = function( event )
{
    event.preventDefault();
    var _this = event.target ;
    $( event.target ).parents(".widget:first").find(".widget-content").slideToggle( { start: function( p )
    {
        var close = $( _this ).parents(".widget:first").find( '.edit_cancel:first' );
        var edit  = $( _this ).parents(".widget:first").find( '.edit:first' );
console.log($( close ).hasClass( 'hidden' ), $(close), _this, $(edit))
        if( $( close ).hasClass( 'hidden' )  )
        {
            $(close).removeClass( 'hidden' );
            $(edit).addClass( 'hidden' );
        }
        else
        if( $( edit ).hasClass( 'hidden' ) )
        {
            $(edit).removeClass( 'hidden' );
            $(close).addClass( 'hidden' );
        }    
    } } );
}

$(document).ready(function(){

    $( '.picture-box .edit, .picture-box .edit_cancel' ).on( 'click', handlePictureBoxEditCancelClick );




/*
$('.picture-box').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        delegate: 'a.view', // the selector for gallery item
        type: 'image',
            removalDelay: 300,
            mainClass: 'mfp-fade',
        gallery: {
          enabled:true
        }
    });
}); */

    var updateOutput = function(e)
    {
        var list   = e.length ? e : $(e.target),
            output = list.data('output');
            console.log( 'list', list );
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
    };

/*$('.widget-header').draggable({
  drop: function(){
    console.log('Element dropped');
  },
  helper: "clone",
});*/






    // activate Nestable for list 1


    //$('#nestable2').nestable().on('change', updateOutput);
/*    
    updateOutput($('#nestable2').data('output', $('#nestable2-output')));*/
});
        $( document ).ready( function()
        {
//config.extraAllowedContent = 'span[class] h1 h2 h3';
            //$("#dropzone").dropzone();
            config.allowedContent = true;
            config.extraPlugins = 'autogrow';
            config.autoGrow_onStartup = true;
            config.autoGrow_minHeight = 75;
            config.toolbarCanCollapse = true;
            config.toolbar = [
                [ 'Source', '-', 'Link','Unlink', 'Anchor', '-','JustifyLeft', 'JustifyCenter', 'JustifyRight', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]
            ];            
            $( '.editor-basic' ).ckeditor(config);
var dropzoneMain = new Dropzone(document.querySelector( '#uploadzone' ),uploadConfig);
/*dropzoneMain.on("addedfile", function(file) {
  // Hookup the start button
  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
});*/
$( '[data-collection="five_country_gallery"]' ).css('visibility', 'hidden');
document.querySelector(".upload-images").onclick = function() {
    uploadedImages = [];
  dropzoneMain.enqueueFiles(dropzoneMain.getFilesWithStatus(Dropzone.ADDED));
};

function addUploadedImages( obj )
{        
/*    $( '#five_country_gallery li:eq('+obj.element+')' ).find( '.gallery_name:first' ).parent().append( '<img src="/uploads/media/' + obj.picture + '" class="img-responsive" width="80" />' );

    $( '#five_country_gallery li:eq('+obj.element+')' ).find( '.gallery_name:first' ).val(obj.picture);*/

                //}, 200 );    
}

dropzoneMain.on("queuecomplete", function(progress) {
   console.log( 'complete', progress );
    _.forEach( uploadedImages, function( obj, i )
    {
        var row = window.cloneRow( '/uploads/' + obj.picture );
        console.log( 'Added row', row );
/*        var pos = $( '#five_country_gallery li:last' ).index();
        obj.element = pos + 1;
        $( '[data-collection="five_country_gallery"]' ).trigger( 'click' );*/
        //_.delay(function(){ addUploadedImages( obj );}, 200);
         
    } );  
});

var onSuccess = function(evt, resp)
{
    console.log( evt, 'hereeeee!', resp );
};

        });

    </script>
    <script>

    </script>        
{% endblock %}