{% extends 'FiveAdminBundle::layout.html.twig' %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}
{% form_theme form with [ 'FiveAdminBundle:Form:form_fields.html.twig' ] %}

{% set contextType = context %}

{% if  context == 'realisation' %}
  {% set contextTypeName = ( 'bathroom' in categories ? 'Bathroom ' : 'Kitchen ' )  %}
{% else %}
  {% set contextTypeName =  ' ' %}
{% endif %}

{% block page_head_title %}{% if id is defined and id is not empty() %}#{{id}} {{contextTypeName}}{% else %}New{% endif %} {{gallery.getTitleFr()}} | {{context|title}} Gallery{% endblock %}
{% block page_head_icon %}<i class="f{{ options.page.icon|default( 'fa icon-camera-2' ) }}"></i>{% endblock %}
{% block page_head_subtitle %}<h3></h3>{% endblock %}

{% block content %}
{% set pictures = gallery.getImages() %}

<link href="{{ asset( theme_path ~ 'assets/libs/jquery-nestable/jquery.nestable.css' ) }}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.28/angular.js" data-semver="1.2.28"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.js"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="{{ asset( 'bundles/fiveadmin/five/gallery/five.gallery.css' ) }}" rel="stylesheet" type="text/css" />
<style>


ol.vertical > li
{
    padding: 10px 10px 10px 10px;
    background: #f9f9f9;
    border: 1px solid #E4EAE6;
    margin-bottom: 8px;
}
ol.vertical > li img
{    
    cursor: move;
}

ol.vertical li.placeholder:before {
position: absolute;
content: "";
width: 0;
height: 0;
margin-top: -5px;
left: -5px;
top: -4px;
border: 5px solid transparent;
border-left-color: #68C39F;
border-right: none;
top: 1px;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ol.vertical li.placeholder {
position: relative;
margin: 0;
padding: 0;
border-top: 1px dashed #68C39F;
top: 1px;


}
ol.simple_with_drop li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.simple_with_drop li.placeholder:before {
  position: absolute;
  /*margin-top: -5px;
  top: -5px;*/
  /** Define arrowhead **/
}
{#
.dd-handle:before {
content: '≡';
display: block;

width: 100%;
text-align: center;
text-indent: 0;
color: #fff;
font-size: 20px;
font-weight: normal;
}

/* position: absolute; */
.dd-handle
{


margin: 0;
left: 0;
top: 0;
cursor: pointer;
width: 30px;
text-indent: 300%;
white-space: nowrap;
overflow: hidden;
border: 0px solid #ddd;
background: #909C9C;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
#}


</style>
    {{ block( 'ButtonAction' ) }}


                                
            
                                <div class="row" ng-app="FiveGallery">
                                    <div class="col-sm-12">
                                        <div class="widget">
                                            <div class="widget-content padding">

                                               <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                    <h3 class="five-openclose-header"><span class="fa icon-keyboard"></span>  Details <span class="fa icon-five-openclose"></span></h3>
                                                                    <hr />


                                                            </div>
                                                        </div>
                                                        <div class="row five-openclose-content">
                                                            <div class="col-sm-12" >
                                                                <ul id="imagedata-main" class="nav nav-tabs nav-simple">
                                                                    <li class="active">
                                                                        <a href="#imagedata-en-main" data-toggle="tab">English</a>
                                                                    </li>
                                                                    <li class="">
                                                                        <a href="#imagedata-fr-main" data-toggle="tab">French</a>
                                                                    </li>
                                                                </ul>                                                         
                                                                <div class="tab-content">
                                                                    <div class="tab-pane fade active in" id="imagedata-en-main">
                                                                        <div class="input-group-sm">
                                                                            <input name="titleEn" type="text" class="form-control input-small pic-title" placeholder="Title" value="{{gallery.getTitleEn()}}" />
                                                                            <textarea name="descEn" class="form-control input-small pic-desc" placeholder="Description">{{gallery.getDescriptionEn() | raw}}</textarea>                                                                                                
                                                                        </div>
                                                                    </div> <!-- / .tab-pane -->
                                                                    <div class="tab-pane fade" id="imagedata-fr-main">
                                                                        <div class="input-group-sm">
                                                                            <input name="titleFr" type="text" class="form-control input-small pic-title" placeholder="Title" value="{{gallery.getTitleFr()}}" />
                                                                            <textarea name="descFr" class="form-control input-small pic-desc" placeholder="Description">{{gallery.getDescriptionFr() | raw}}</textarea>                                                                                            
                                                                            
                                                                        </div>
                                                                    </div> <!-- / .tab-pane -->                                                                                        
                                                                </div>
                                                                
                                                            </div>
                                                        
                                                        </div>
                                                        


                                                        <div class="row">
                                                            <div class="col-sm-12 five-openclose-header" >
                                                                <h3 ><span class="fa  icon-folder-open"></span>  Categories <span class="fa icon-five-openclose" data-original-title="Click to expand/close" data-toggle="tooltip" title=""></span></h3>
                                                                <hr />
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row five-openclose-content">

                                                        {% for keyname,dropdown in dropdownCategories %}
                                                            <div class="col-sm-6  form-group">
                                                                <label>{{keyname|title}}s</label>
                                                                <select class="form-control dropdown-category" name="{{ keyname }}s_filter" id="{{keyname}}s_filter">
                                                                    <option value="">-- All {{keyname|title}}s --</option>
                                                                    {% for opt in dropdown %}
                                                                        <option value="{{opt.value}}" {{ opt.value in categories ? 'selected' : '' }}>{{opt.label|title}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                          {% endfor %}

                                                            
                                                        </div>

                                                    </div><!-- end category -->

                                                    <div class="col-md-6"> 
                                                        
                                                        {% include 'FiveAdminBundle:Gallery:cover.html.twig' %}

                                                        {% include 'FiveAdminBundle:Gallery:angular-tags.html.twig' %}

                                                    </div>
                                               </div>                                                                  
                                              
                                            <div class="row">   
                                                <br /><br />
                                                <div class="col-sm-12">
                                                    <h3 class="five-openclose-header">
                                                        <span class="fa  icon-picture-2"></span>  Pictures <span id="picture-box-cnt" class="label label-info">{{ pictures | length }}</span>
                                                        <span class="fa icon-five-openclose" data-original-title="Click to expand/close" data-toggle="tooltip" title=""></span>
                                                    </h3>
                                                    <hr />
                                                </div>
                                            </div>

                                            <div class="row five-openclose-content">
                                                <div class="col-md-12">
                                                    <a class="btn btn-success add-images"><span class="fa icon-list-add"></span>  Add Pictures</a>                                                   
                                                    <div class="progress progress-xs no-rounded progress-striped active">
                                                        <div id="progress_pictures_upload" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                            <span class="sr-only"></span>
                                                        </div><!-- .progress-bar .progress-bar-info -->
                                                    </div>
                                                    <div id="uploadzone" class="" style="width:100%;height:0px;"></div>
                                                    <div id="uploadReplacePic" class="" style="width:100%;height:0px;"></div>
                                                    <div id="upload_preview"></div>
                                                </div>                                            
                                                <div class="display:none">
                                                    {% include 'FiveAdminBundle:PictureBox:_picture-box.html.twig' with { class :  'picture-box-dummy hidden' } %}
                                                </div>
                                                <div class="portlets" id="gallery_picures" style="display:block;">

                                                    <!-- <form id="picform"> -->
                                                        {% for pic in gallery.getImages() %}

                                                        {#% for im in ['0b9e5b689c3f7a3fba866d90939cc6d7e7c535d4.jpg', '0c7732b4a0b5337d3be5fa90637a4671a5281b51.jpg', '0d4026c5e38b4c7b6f14b7f68352c89734c9af17.jpg', '7c963977249e839ed134f53185795aa64f919fe6.jpg', '8fe83cc18429e599d2c598f3b06cfca962ac22cf.jpg', '5091eee885a58b9ece4ee9c910055be2ae37cdee.jpg', '1016573f7e3bb3d99d7f6d5247dcebf64e3674ca.jpg' ] %#}

                                                            {% include 'FiveAdminBundle:PictureBox:_picture-box.html.twig' %}

                                                        {% endfor %}
                                                    <!-- </form> -->
                                                </div>
        
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button id="save_btn" class="btn btn-default">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                    </div>
                </div>
            </div>
        </div>



    

{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select/bootstrap-select.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-inputmask/inputmask.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/jquery.mockjax.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/demo/demo-mock.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-select2/select2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clndr/moment-2.5.1.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/ckeditor.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/ckeditor/adapters/jquery.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/pages/advanced-forms.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/dropzone/dropzone.js' ) }}"></script>
    <!--script src="{{ asset( theme_path ~ 'assets/libs/jquery-nestable/jquery.nestable.js' ) }}"></script-->
    <script src="{{ asset( theme_path ~ 'assets/libs/sortable/sortable.min.js' ) }}"></script>
    <!--script src="{{ asset( theme_path ~ 'assets/js/jquery-sortable.js' ) }}"></script-->


    <script>



    var config         = {};
    var uploadedImages = [];

    var uploadConfig = {
        url:             "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth:  80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        //previewsContainer: '#upload_preview',
        clickable:       'a.add-images',
        previewTemplate: '<div ste="display:none"></div>',
        autoQueue:        true,
        acceptedFiles:   ".jpg,.jpeg",
        accept: function( file, done )
        {
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(file.name)[1];
            ext = ext.toUpperCase();
            if ( ext == "JPEG" || ext == "JPG" || ext == "JPE") 
            {
                done();
            }
            else{ 
                done("Only Jpeg images are allowed"); 
            }
        },        
        success : function(evt, resp)
        {
            //console.log( evt, 'hereeeee!', resp );
            uploadedImages.push( { picture: resp.picture, element: null } );
            //dropzoneReplace.reset();
        },
        uploadprogress: function( file, progress )
        {
            if( progress == 0 )
            {
                $( '#progress_pictures_upload' ).show().css( 'width', '0%' ).fadeIn();
            }
            
            $( '#progress_pictures_upload' ).css( 'width', progress + '%' );
            
            if( progress >= 98 )
            {
                _.delay( function()
                {
                    $( '#progress_pictures_upload' ).fadeOut();
                }, 250 )
            }
        }

    };

    var picReplaceConfig = {
        url:             "{{ path( 'five_admin_upload_pictures' ) }}",
        thumbnailWidth:  80,
        thumbnailHeight: 80,
        parallelUploads: 1,
        clickable:       true,//'.picture_update',
        previewTemplate: '<div style="display:none"></div>',
        autoQueue:        true,
        acceptedFiles:   ".jpg,.jpeg",
        uploadMultiple:  false,
        currentClick:    null,
        //maxFiles:        1,
        accept: function( file, done )
        {
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(file.name)[1];
            ext = ext.toUpperCase();
            if ( ext == "JPEG" || ext == "JPG" || ext == "JPE") 
            {
                done();
            }
            else{ 
                done("Only Jpeg images are allowed"); 
            }
        },  
        uploadprogress: function( file, progress )
        {
            if( progress == 0 )
            {
                $( '#progress_pictures_upload' ).show().css( 'width', '0%' ).fadeIn();
            }
            
            $( '#progress_pictures_upload' ).css( 'width', progress + '%' );
            
            if( progress >= 98 )
            {
                _.delay( function()
                {
                    $( '#progress_pictures_upload' ).fadeOut();
                }, 250 );

            }
        },
        success : function( file, resp )
        {
            var elm = dropzoneReplace.currentClick || $( this.element );
            var widgetHeader = $( elm ).parents( '.widget-header:first' );
            var picElm       = $( widgetHeader ).find( '.picture_img:first' );
            
            if( picElm )
            {
                picElm.attr( 'src', resp.src );
                widgetHeader.find( 'input[name="src[]"]:first' ).val( resp.src );
                widgetHeader.parent().find( 'a.view:first' ).attr( 'href', resp.src );

                var ratio = file.width / file.height;
                var baseW = $( widgetHeader ).width();
                var baseH = $( widgetHeader ).height();

                var heightNorm = ( baseW / ratio );
                var widthNorm  = ( baseH * ratio );

                var css = {};

                var pin = $( this.element ).parents( '.widget-header:first' ).find( '.btn-pin.active' );
                if( pin )
                {
                    widgetHeader.find( 'input[name="cover[]"]' ).val( "1" );
                    $( '.cover_picture:first' ).attr( 'src', resp.src );
                }
                else
                {
                  widgetHeader.find( 'input[name="cover[]"]' ).val( "0" );
                }
            }            
        }

    };    
    
function getRandomInt( min, max )
{
    return Math.floor( Math.random() * ( max - min + 1 ) ) + min;
}

var cloneRow = function( imgSrc )
{
    var rnd     = getRandomInt( 1, 999 ) + getRandomInt( 1, 999 ) + getRandomInt( 1, 999 );
    var li      = $(".picture-box-dummy:first");
    var liClone = li.clone();

    liClone.removeClass( 'picture-box-dummy' ).removeClass( 'hidden' ).addClass( 'picture-box' );
    liClone.find( 'img' ).attr( 'src', imgSrc );
    liClone.find( 'input[name="src[]"]:first' ).val( imgSrc );
    liClone.find( 'input[name="titleFr[]"]' ).val( '' );
    liClone.find( 'input[name="titleEn[]"]' ).val( '' );
    liClone.find( 'input[name="descFr[]"]' ).val( '' );
    liClone.find( 'input[name="descEn[]"]' ).val( '' );
    liClone.find( 'input[name="cover[]"]' ).val( "0" );
    liClone.find( 'input[name="id[]"]' ).val( "" );
    liClone.find( 'a.view:first' ).attr( 'href', imgSrc );
    liClone.find( '#imagedata' ).attr( 'id', 'imagedata-0' + rnd )
    liClone.find( '#imagedata-fr' ).attr( 'id', 'imagedata-fr-0' + rnd );
    liClone.find( '#imagedata-en' ).attr( 'id', 'imagedata-en-0' + rnd );
    liClone.find( 'a[href="#imagedata-en"]' ).attr( 'href', '#imagedata-en-0' + rnd );
    liClone.find( 'a[href="#imagedata-fr"]' ).attr( 'href', '#imagedata-fr-0' + rnd );

    $('#gallery_picures').prepend( liClone );
    dropzoneReplace.clickableElements.push( $( liClone ).find( '.picture_update' ).get(0) );

    return liClone;
}

var output;

var handlePictureBoxEditCancelClick = function( event )
{

    event.preventDefault();
    var _this = event.target;

    $( event.target ).parents( '.widget:first' ).find( '.widget-content' ).slideToggle( { 
        start: function( p )
        {
            var close = $( _this ).parents( '.widget:first' ).find( '.edit_cancel:first' );
            var edit  = $( _this ).parents( '.widget:first' ).find( '.edit:first' );

            if( $( close ).hasClass( 'hidden' )  )
            {
                $( close ).removeClass( 'hidden' );
                $( edit ).addClass( 'hidden' );
            }
            else
            if( $( edit ).hasClass( 'hidden' ) )
            {
                $( edit ).removeClass( 'hidden' );
                $( close ).addClass( 'hidden' );
            }    
        } 
    } );
}


var handleOpenCloseHeaderClick = function( event )
{
    event.preventDefault();
    
    $( event.target ).toggleClass( 'active' );
    var content = $( event.target ).parents( '.row:first' ).next( '.five-openclose-content' );
    $( content ).slideToggle().removeClass( 'hidden' );
}

var updateOutput = function( e )
{
    var list   = e.length ? e : $( e.target ),
        output = list.data( 'output' );
        
        console.log( 'list', list );

    if( window.JSON )
    {
        output.val( window.JSON.stringify( list.nestable( 'serialize' ) ) );
    }
    else
    {
        output.val( 'JSON browser support required for this demo.' );
    }
}

var handleOnPinCoverClick = function( event )
{
    var picsBox = $( '.picture-box' );

    $.each( picsBox, function( i, e )
    {
        try
        {
            $( picsBox[ i ] ).find( '.btn-pin:first' ).removeClass( 'active' );
            $( picsBox[ i ] ).find( '.btn-pin' ).find( 'span:first,i:first' ).removeClass( 'active' );
        }
        catch( e )
        {
            console.log( "Error: ", e );
        }

    } );

    if( !$( event.target ).hasClass( 'active' ) )
    {
        $( event.target ).addClass( 'active' );
        $( event.target ).parent().addClass( 'active' );        
        $( '.cover_picture:first' ).attr( 'src', $( event.target ).parents( '.widget-header:first' ).find( '.img-responsive:first' ).attr( 'src' ) );
        $( event.target ).parents( '.widget-header:first' ).find( 'input[name="cover[]"]' ).val( "1" );
    }
    else
    {
        $( event.target ).removeClass( 'active' );
        $( event.target ).parent().removeClass( 'active' );
        $( event.target ).parents( '.widget-header:first' ).find( 'input[name="cover[]"]' ).val( "0" );
    }
}

var handlePictureBoxDeleteClick = function( event )
{
    var picBox = $( event.target ).parents( '.picture-box:first' );

    if( picBox )
    {
        $( picBox ).off();
        $( picBox ).find( '.picture_delete' ).off();
        $( picBox ).find( '.edit_cancel' ).off();
        $( picBox ).find( '.edit' ).off();
        $( picBox ).find( '.view' ).off();
        $( picBox ).find( '.picture_update' ).off();
        $( document ).find( '.tooltip' ).remove();
        $( picBox ).remove();
        $( this ).remove();
        decrementPictureBoxCnt();
    }
}

var dropzoneMain    = new Dropzone( document.querySelector( '#uploadzone' ),uploadConfig );
var dropzoneReplace = new Dropzone( document.querySelector( '#uploadReplacePic' ), picReplaceConfig );


var perparePostData = function()
{
    var picBoxes = $( ".picture-box" );
    var pics     = [];
    var pos      = picBoxes.length;

    $.each( picBoxes, function( e, i )
    {
        var pic      = {};
        pic.id       = $( this ).find( 'input[name="id[]"]' ).val();
        pic.src      = $( this ).find( 'input[name="src[]"]' ).val();
        pic.srcThumb = $( this ).find( 'input[name="src[]"]' ).val().replace( '/uploads/', '/uploads/thumbs/' );
        pic.titleFr  = $( this ).find( 'input[name="titleFr[]"]' ).val();
        pic.titleEn  = $( this ).find( 'input[name="titleEn[]"]' ).val();
        pic.descFr   = $( this ).find( 'textarea[name="descFr[]"]' ).val();
        pic.descEn   = $( this ).find( 'textarea[name="descEn[]"]' ).val();
        pic.cover    = ( $( '.cover_picture:first' ).attr('src') == pic.src ) ? 1 : 0;
        pic.position = pics.length;

        

        pics.push( pic );
    } );
    
/*    [ 'rooms_filter', 'styles_filter', 'materials_fil' ]
    $( '#rooms_filter' ).val(), $( '#styles_filter' ).val()*/
    var filters = [];

     {% for keyname,dropdown in dropdownCategories %}
      //var filter = $( '#{{ keyname }}s_filter' ).val();
      filters.push($( '#{{ keyname }}s_filter' ).val());
     {% endfor %}

    var data  = { 'data': {
        'context' : '{{ context | default( 'realisation' ) }}',
        'categories': filters, //[ $( '#rooms_filter' ).val(), $( '#styles_filter' ).val() ],
        'gallery' : {
            'id'      : "{{ id|default('') }}",
            'titleFr' : $( '#imagedata-main' ).parent().find( 'input[name="titleFr"]' ).val(),
            'descFr'  : $( '#imagedata-main' ).parent().find( 'textarea[name="descFr"]' ).val(),
            'titleEn' : $( '#imagedata-main' ).parent().find( 'input[name="titleEn"]' ).val(),
            'descEn'  : $( '#imagedata-main' ).parent().find( 'textarea[name="descEn"]' ).val()
        },
        'pictures' : pics,
        'tags' : JSON.parse( $( '#gallery_tags' ).val() )
    }};

    
    console.log( data );

    return data;
}

var handlePictureUpdateBtnClick = function()
{
    dropzoneReplace.currentClick = $( this );
    dropzoneReplace.currentPic   = $( this );
    $( dropzoneReplace.hiddenFileInput ).click();
}

$( document ).ready( function()
{
    $( document ).on( 'click', '.picture-box .picture_delete', handlePictureBoxDeleteClick );
    $( document ).on( 'click', '.picture-box .edit_cancel, .picture-box .edit', handlePictureBoxEditCancelClick );

    $( '.five-openclose-header' ).on( 'click', handleOpenCloseHeaderClick );

    $( '#save_btn' ).on( 'click', function()
    {
        var data = perparePostData();
        
        console.log( data );
            jQuery.ajax( {
                type:     'POST',
                url:      '/admin/gallery/save',
                data:     data,
                dataType: 'json',
                cache:    false,             
                
                error: function( result, txt )
                {            
                    console.log( result );
                },

                success: function( result )
                {
                    window.location.href = '{{ path( "five_admin_gallery_list", { context: context } ) }}?alert_type=success';
                }
            } );        
    } );

    $( document ).on( 'click', '.picture-box .picture_update', handlePictureUpdateBtnClick );

    $( document ).on( 'click', '.picture-box .btn-pin', handleOnPinCoverClick );

    $( '#gallery_picures' ).magnificPopup(
    {
        delegate:    '.picture-box a.view',
        type:        'image',
        removalDelay: 300,
        mainClass:    'mfp-fade',
        gallery:
        {
            enabled: true
        }
    } );    
} );



var incrementPictureBoxCnt = function()
{
    var cnt = $( '#picture-box-cnt' ).text();
    cnt     = parseInt( cnt ) + 1;

    console.log( 'pic increment ++', cnt );

    $( '#picture-box-cnt' ).text( cnt );
}

var decrementPictureBoxCnt = function()
{
    var cnt = $( '#picture-box-cnt' ).text();
    cnt     = parseInt( cnt ) - 1;

    $( '#picture-box-cnt' ).text( cnt );
}

dropzoneMain.on( "addedfile", function( file )
{
  // Hookup the start button
  //file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
} );

dropzoneMain.on( "queuecomplete", function( progress )
{
    _.forEach( uploadedImages, function( obj, i )
    {
        var row = window.cloneRow( '/uploads/' + obj.picture );
        incrementPictureBoxCnt();
    } );

    uploadedImages = [];
    $( ".portlets" ).sortable( "refresh" );
} );
  

    </script>
    <script>

    </script>        
{% endblock %}