{% extends 'FiveAdminBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ options.page.title | default( '' ) }}</h3>
            </div>
            <!-- /.box-header -->    
            <div class="box-body table-responsive">

                {% include 'FiveAdminBundle:Action:alert-dismissable.html.twig' %}

                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            {% for prop in options.expose %}
                                <th>{{ prop.label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            {% for prop in options.expose %}
                                {% set keyRoot = entity.key | split( '.' ) %}
                              
                                {% set lastKey = ( loop.index == 1 ? entity.key : '' ) %}
                                <td>
                                {% if prop.call is defined %}
                                {{prop.call == 'translations[0].content'}}
                                    {#% if prop.type is defined %}
                                            {% if prop.type == 'date' %}
                                                {{ attribute( entity, prop.call ) | date( 'Y-m-d H:i:s' ) }}
                                            {% endif %}
                                    {% elseif prop.call == 'translations[0].content' %}
                                        {% set translations = entity.getTranslations() %}
                                        {{ translations[ 0 ].content }}--
                                    {% else %}
                                        {{ attribute( entity, prop.call ) }}
                                    {% endif %#}

                                {% endif %}
                                </td>

                            {% endfor %}
{#                         {% for prop in options.expose %}
                            <td>
                            {% if prop.action is defined %}                            
                                {% set actions = options[ prop.action ] %}

                                {% if prop.action == 'edit_action' %}
                                    <a href="{{ path( actions.path, { id : entity.id } ) }}">
                                        <button class="btn btn-info btn-sm">
                                            <i class="fa fa-edit"></i>
                                            <span>{{ prop.label }}</span>
                                        </button>
                                    </a>
                                {% endif %}

                                {% if prop.action == 'delete_action' %}
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" href="{{ path( actions.path, { id : entity.id } ) }}">
                                        <i class="fa fa-trash-o"></i>
                                        {{ prop.label }}
                                    </button>
                                {% endif %}                                

                            {% endif %}

                            {% if prop.call is defined %}
                                {% if prop.type is defined %}
                                        {% if prop.type == 'date' %}
                                            {{ attribute( entity, prop.call ) | date( 'Y-m-d H:i:s' ) }}
                                        {% endif %}
                                {% else %}
                                    {{ attribute( entity, prop.call ) }}
                                {% endif %}

                            {% endif %}
                            </td>
                        {% endfor %} #}
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% for prop in options.expose %}
                                <th>{{ prop.label }}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            $(function() {
                
                $('#example1').dataTable({
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>    
{% endblock %}