{% extends 'FiveAdminBundle::layout.html.twig' %}
{% import "FiveAdminBundle:Button:button-action-macro.html.twig" as button %}

{% import "FiveAdminBundle:Form:macros.html.twig" as FiveForm %}


{% block page_head_title %}{{ options.page.title | default( '' ) }}
                    <div class="pull-right">
                        {% if options.create_action is defined %}
                            {{ button.link( 'Create New', options.create_action.path, {} ) }}
                        {% endif %}
                    </div>
{% endblock %}
{% block page_head_icon %}<i class="glyphicon glyphicon-list-alt"></i>{% endblock %}
{% block page_head_subtitle %}{% endblock %}

{% block content %}
            
    {% set lastParent = '' %}
            <div class="row top-summary">
                {% for category in categories %}
                {% if lastParent != category.getParent() %}
                    {% set lastParent = category.getParent() %}
                    <div class="col-lg-12 col-md-12"><h3>{{ category.getParent() }}</h3></div>
                    
                {% endif %}
                    <div class="col-lg-3 col-md-6">
                        <div class="widget green-1 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="icon-globe-inv"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">{{ category.getName() }}</b></p>
                                    <h2><span class="animate-number" data-value="{{ countriesCnt }}" data-duration="3000">{{ countriesCnt }}</span></h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {# <i class="fa fa-caret-up rel-change"></i> <b>39%</b> increase in traffic #}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>

            
{% endblock %}

    {% set lastParent = '' %}
            <div class="row top-summary">
                {% for category in categories %}
                {% if lastParent != category.getParent() %}
                    {% set lastParent = category.getParent() %}
                    <div class="col-lg-12 col-md-12"><h3>{{ category.getParent() }}</h3></div>
                    
                {% endif %}
                    <div class="col-lg-3 col-md-6">
                        <div class="widget green-1 animated fadeInDown">
                            <div class="widget-content padding">
                                <div class="widget-icon">
                                    <i class="icon-globe-inv"></i>
                                </div>
                                <div class="text-box">
                                    <p class="maindata">{{ category.getName() }}</b></p>
                                    <h2><span class="animate-number" data-value="{{ countriesCnt }}" data-duration="3000">{{ countriesCnt }}</span></h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {# <i class="fa fa-caret-up rel-change"></i> <b>39%</b> increase in traffic #}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>

            
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Page Specific JS Libraries -->
    <script src="{{ asset( theme_path ~ 'assets/libs/d3/d3.v3.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/rickshaw/rickshaw.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/raphael/raphael-min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/morrischart/morris.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-knob/jquery.knob.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-clock/clock.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-easypiechart/jquery.easypiechart.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/libs/bootstrap-calendar/js/bic_calendar.min.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/apps/calculator.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/apps/todo.js' ) }}"></script>
    <script src="{{ asset( theme_path ~ 'assets/js/pages/index.js' ) }}"></script>

{% endblock %}